In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("proj3.ipynb")

# Project 3: Data Transformation

## Due Date: Friday 10/28, 11:59 PM

## Assignment Details

In this project, we'll be working with one month of data from sensors in buildings at UC Berkeley. This is a very typical real-world dataset---i.e. it's kind of a mess. The full dataset contains a giant `data` table of sensor readings that is many billions of readings over the course of a decade; we will look at a single month of that data. It also contains a variety of other tables that contextualize the readings.

The schema for the database is shown below. Sometimes people think that if the data is a nice schema, then it's ready to go! We'll see about that.

**Note:** Each line represents a relationship between the two fields. The side of the line diverging to three lines / arrows suggests the "many" side of the relationship, while the side of the line converging to one arrow suggests the "one" side of the relationship.

In [3]:
%reload_ext sql

### Thoughts:
1) Every (`building`, `id`, `time`) tuple is unique when `data` x `metadata` x `buildings_site_mapping`
2) However, there is no guarantee that (`building`, `id`, `time`) x `real_estate_metadata` will stay unique, for example:
--- 
We have a tuple of (`building A`, 123, `2023/07/13 11:00:00`), with `building A` there are 3 tuple having `building A` at column `building_name` in `real_estate_metadata`. What happens when we join these 2 together?

- (`building A`, 123, `2023/07/13 11:00:00`, <`real_estate_metadata`> 1)
- (`building A`, 123, `2023/07/13 11:00:00`, <`real_estate_metadata`> 2)
- (`building A`, 123, `2023/07/13 11:00:00`, <`real_estate_metadata`> 3)

We can derive (`time`, `id`) = (123, `2023/07/13 11:00:00`), but we cannot use it to distinguish rows in `real_estate_metadata`. 

To sum up, even we compose both keys from `data`, we cannot guarantee that a row in `data` can point to exactly 1 row in `real_estate_metadata`

<img src="data/schema.png">

## Logistics & Scoring Breakdown

For Data 101 students, this project is worth 15% of your grade. For Info 258 students, this project is worth 12% of your grade.

Each coding question has **both public tests and hidden tests**. Roughly 50% of your coding grade will be made up of your score on the public tests released to you, while the remaining 50% will be made up of unreleased hidden tests. Free-response questions will be manually graded.

This is an **individual project**. However, you’re welcome to collaborate with any other student in the class as long as it’s within the academic honesty guidelines.

Question | Points
--- | ---
1a	| 1
1b  | 1
1c	| 1
1d	| 2
2a	| 3
2b	| 1
3a	| 0
3b	| 1
3c	| 1
3d  | 0
3e  | 2
4a	| 2
4b	| 2
4c	| 3
**Total** | 20

In [4]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

In [5]:
%sql postgresql://jovyan@127.0.0.1:5432/template1

## Loading Up the Database
To load the database, run the following cell.

**IMPORTANT NOTE:** In contrary to previous projects, the database does not reload automatically upon running the following loading cell. If you would like to reload the database (e.g. if your database is modified in undesirable ways), **first restart the kernel**, and then run `!psql -h localhost -c 'DROP DATABASE IF EXISTS ucb_buildings'` in another cell **before** running the cell below.

In [3]:
import subprocess
import os
import warnings

call = subprocess.run(["psql", "-h", "localhost", \
                       "-tAc", "SELECT 1 FROM pg_database WHERE datname='ucb_buildings'", "template1"], \
                      stdout=subprocess.PIPE, text=True)

if call.stdout != "1\n":
    print("Loading database...")
    os.system("gunzip -c data/proj3.sql.gz | psql -h localhost -d template1 -f -")
else:
    print("Database was previously loaded.")

Database was previously loaded.

Now, run the following cell to connect to the `ucb_buildings` database. There should be no errors after running the following cell.

In [ ]:
%sql postgresql://jovyan@127.0.0.1:5432/ucb_buildings

Run the following cell for grading purposes.

In [ ]:
!mkdir -p results

<!-- BEGIN QUESTION -->

## Question 1: Unboxing the Data

### Question 1a

Note that the `data` table, in the full database, is billions of rows. What do you notice about the design of the database schema that helps support the large amount of data?

**Hint:** There is no need to examine any data here. What is a technique learned in [lecture 15](https://docs.google.com/presentation/d/1GogwyAylHrJoxer_apIkgnWDqC9LxTQ8/edit)? Define that technique.

<!--
BEGIN QUESTION
name: q1a
manual: true
points: 1
-->

_Type your answer here, replacing this text._

In [5]:
%sql SELECT COUNT(*) FROM data

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.

[(100000,)]

<!-- END QUESTION -->



### Question 1b

The diagram claims that `buildings_site_mapping` has a many-to-many relationship with `real_estate_metadata`. Let's validate that. 

Below is an example of `json_agg` being used with a table; you will need to do this in the next two parts.

In [6]:
%%sql
SELECT b.site, json_agg(b) from buildings_site_mapping b GROUP BY b.site LIMIT 5;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
5 rows affected.

[('Sutardja Dai Hall', [{'site': 'Sutardja Dai Hall', 'building': 'SUTARDJA DAI'}]),
 ('Le Conte Hall', [{'site': 'Le Conte Hall', 'building': 'LE CONTE'}]),
 ('Hildebrand Hall', [{'site': 'Hildebrand Hall', 'building': 'HILDEBRA ND'}]),
 ('Stephens Hall', [{'site': 'Stephens Hall', 'building': 'STEPHENS'}]),
 ('2000 Carleton Street', [{'site': '2000 Carleton Street', 'building': 'CARLETO2 000'}])]

Find the **distinct** values of `buildings_site_mapping.building` that match multiple tuples in `real_estate_metadata.building_name`, and for each such value of `buildings_site_mapping.building` return the matches as JSON via `json_agg(real_estate_metadata)`. Your output should contain the building and the `json_agg` in that order. Order your final result by building.

**Hint:** You should use a CTE to find the distinct buildings of `buildings_site_mapping` before applying necessary table joins.

In [7]:
%%sql result_1b <<
with distinct_buildings as (SELECT DISTINCT building FROM buildings_site_mapping)

SELECT 
    db.building,
    JSON_AGG(rem) data
FROM distinct_buildings db
JOIN real_estate_metadata rem
ON db.building = rem.building_name
GROUP BY db.building
HAVING COUNT(*) > 1
ORDER BY 1

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
5 rows affected.
Returning data to local variable result_1b

In [8]:
# Do not delete/edit this cell
result_1b.DataFrame().to_csv('results/result_1b.csv', index=False)

In [9]:
pd.read_csv('results/result_1b.csv').shape

(5, 2)

In [10]:
grader.check("q1b")

q1b results: All test cases passed!

### Question 1c

Now find examples of many matches in the opposite direction. For each distinct `real_estate_metadata.building_name` value, find the ones that have multiple matches in `buildings_site_mapping.building`, and for each return a `json_agg` of the multiple values for `buildings_site_mapping`. Your output should contain the building name and the `json_agg` in that order. Order your final result by building name.

**Hint:** You should use a CTE to find the distinct building names of `real_estate_metadata` before applying necessary table joins.

In [11]:
%%sql result_1c <<

with distinct_rem as (SELECT DISTINCT building_name FROM real_estate_metadata)

SELECT building_name, JSON_AGG(bsm)
FROM distinct_rem dr
JOIN buildings_site_mapping bsm
ON dr.building_name = bsm.building
GROUP BY building_name
HAVING COUNT(*) > 1
ORDER BY building_name

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
4 rows affected.
Returning data to local variable result_1c

In [12]:
# Do not delete/edit this cell
result_1c.DataFrame().to_csv('results/result_1c.csv', index=False)

In [13]:
grader.check("q1c")

q1c results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 1d

Do you see any issues with the schema given? In particular, please address the two questions below:
- Can you uniquely determine the building given the sensor data? Why? (**Hint:** given a row in the `data` table, can you determine a **uniquely** associated row in `real_estate_metadata` table? Your answer should draw insights from 1b.)
- Could `buildings_site_mapping.building` be a valid foreign key pointing to `real_estate_metadata.building_name`? (**Hint:** think about the definition / constraints of a foreign key.)

<!--
BEGIN QUESTION
name: q1d
manual: true
points: 2
-->

**ANSWER**:
1) Given a unique tuple of `id`, `time` and `building`, some of the rows register 2 occurences -> unable to exactly define the `building` using sensor data
2) Foreign key constraint can't be enforced since many-many relationship requires `relationship entity` to represent the connection between 2 entity types

<!-- END QUESTION -->



## Question 2: Looking for Outliers in the Readings
Physical sensors like the ones generating this data are notorious for producing crazy outliers on occasion. In this section we'll do a little data cleaning of the outliers.

All the readings from all different kinds of sensors are mixed together in the `data` table. This hodgepodge of mixed readings is going to require us to do some extra work to look for outliers. Let's get started.

### Question 2a: Outlier Detection

Let's find the outlying values *for each sensor id*. We'll call something an outlier if it is **3 Hampel X84 intervals** away from the median. If 

Specifically, create a view `labeled_data` that contains all of the columns in `data` and adds three additional columns at the far right:
  - `median` containing the median using `percentile_disc`
  - `mad` containing the Median Absolute Deviation (MAD),
  - `outlier` that contains `true` for the outlier readings and `false` for the rest. **Also,** for data points where the mad is 0, set this to `false`.

In [79]:
%%sql result_2a <<
DROP VIEW IF EXISTS median CASCADE;
CREATE OR REPLACE VIEW median AS
SELECT 
    id,
    value,
    median
FROM data
NATURAL JOIN (SELECT id, percentile_disc(0.5) within group (order by value) as median FROM data GROUP BY id) sub;


CREATE OR REPLACE VIEW mad AS
SELECT 
    id,
    median,
    mad
FROM (
    SELECT 
        id, 
        min(median) as median, 
        percentile_disc(0.5) within group (order by abs(median - value)) as mad 
    FROM median GROUP BY id
) sub;


CREATE OR REPLACE VIEW labeled_data AS
SELECT 
    *,
    abs(median - value) as diff,
    3 * 1.4826 * mad as hampel_mad,
    CASE
        WHEN mad = 0 or abs(median - value) < 3 * 1.4826 * mad
        THEN false
        ELSE true
    END as outlier
FROM data 
NATURAL JOIN mad;



SELECT 
    time, 
    id, 
    value, 
    median, 
    mad, 
    outlier 
FROM labeled_data 
WHERE outlier 
ORDER BY id, time 
LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
Done.
Done.
Done.
100 rows affected.
Returning data to local variable result_2a

In [80]:
# Do not delete/edit this cell
result_2a.DataFrame().to_csv('results/result_2a.csv', index=False)

In [114]:
result_2a

[(datetime.datetime(2018, 6, 9, 15, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a47e9bd4-ab61-56d5-9e0e-2dce29a46dd3', 98.7, 37.2, 12.5, True),
 (datetime.datetime(2018, 6, 7, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 812.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 1, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 807.3, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 1, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 800.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 1, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 819.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 1, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 808.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 2, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 811.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 2, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 804.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 2, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 810.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 3, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 801.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 3, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 819.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 3, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 3, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 4, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 803.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 4, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 839.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 4, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 820.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 4, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 828.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 5, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 811.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 5, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 821.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 5, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 838.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 6, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 802.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 6, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 803.3, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 809.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 23, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 801.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 1, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 807.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 1, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 799.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 3, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 3, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 810.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 3, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 800.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 4, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 833.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 4, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 806.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 5, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 825.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 6, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 804.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 6, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 9, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 808.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 11, 23, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 806.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 1, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 803.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 1, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 821.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 1, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 2, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 829.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 2, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 819.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 3, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 814.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 4, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 826.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 4, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 816.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 12, 5, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 800.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 801.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 0, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 1, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 810.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 1, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 1, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 2, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 807.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 2, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 816.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 2, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 805.3, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 2, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 806.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 3, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 800.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 3, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 803.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 3, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 814.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 3, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 841.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 4, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 821.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 4, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 840.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 4, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 834.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 5, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 828.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 5, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 5, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.9, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 6, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 801.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 6, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 802.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 6, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 805.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 6, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 815.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 13, 7, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 809.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 0, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 820.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 0, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 826.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 1, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 816.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 1, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 819.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 1, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 813.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 1, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 825.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 2, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 815.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 2, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 812.7, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 3, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 823.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 3, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 802.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 3, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.0, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 3, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 812.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 4, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 838.6, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 4, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 824.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 4, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 842.2, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 5, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 803.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 5, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 832.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 5, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 851.8, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 5, 45, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 815.4, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 6, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 828.3, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 6, 15, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 829.5, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 14, 6, 30, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a481d4a8-44f6-5f63-b469-85571a018c6f', 820.1, 727.5, 16.200000000000045, True),
 (datetime.datetime(2018, 6, 8, 14, 30, 2, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 42.857, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 9, 14, 30, 3, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 0.318, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 10, 6, 50, 33, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 42.857, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 10, 14, 30, 4, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 0.375, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 10, 17, 30, 3, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 0.468, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 11, 3, 15, 1, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 42.857, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 11, 18, 0, 17, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 0.42, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 11, 22, 0, 7, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 42.857, 25.0, 3.5710000000000015, True),
 (datetime.datetime(2018, 6, 12, 1, 30, 2, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), 'a48e47ab-bbcd-5b39-aaaa-47fbaafe166e', 42.857, 25.0, 3.5710000000000015, True)]

In [113]:
grader.check("q2a")

q2a results: All test cases passed!

### Question 2b: Outlier Handling (Winsorization)

In this step we'll define a view `cleaned_data` over all the columns of `labeled_data` and one additional column on the far right called `clean_value`. This column will contain a copy of `data.value` if that value is not an outlier. For outliers, it should contain the value Winsorized to the nearest outlier boundary value (3 Hampel X84 intervals from the median). If the MAD is 0, then the cleaned value should be the same as the original value.

In [117]:
%%sql result_2b <<
DROP VIEW IF EXISTS cleaned_data CASCADE;
CREATE OR REPLACE VIEW cleaned_data AS
SELECT 
    time, 
    id, 
    value, 
    median, 
    mad,
    outlier,
    CASE
        WHEN not outlier or mad = 0 THEN value
        WHEN value >= median THEN median + hampel_mad
        ELSE median - hampel_mad
    END as cleaned_data
FROM labeled_data;

SELECT * FROM cleaned_data WHERE outlier ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
Done.
100 rows affected.
Returning data to local variable result_2b

In [118]:
# Do not delete/edit this cell
result_2b.DataFrame().to_csv('results/result_2b.csv', index=False)

In [120]:
grader.check("q2b")

q2b results: All test cases passed!

<!-- BEGIN QUESTION -->

## Question 3: Entity Resolution

### Question 3a
There is a lot of mess in this dataset related to entity names. As a start, have a look at all of the distinct values in the `units` field of the `metadata` table. What do you notice about these values? Are there any duplicates?

<!--
BEGIN QUESTION
name: q3a
manual: true
points: 0
-->

_Type your answer here, replacing this text._

In [23]:
%sql SELECT DISTINCT units FROM metadata ORDER BY units

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
34 rows affected.

[('A',),
 ('Amps',),
 ('Bottom',),
 ('CF',),
 ('CFm',),
 ('Degrees',),
 ('gal',),
 ('Gal',),
 ('Gallons',),
 ('Gpm',),
 ('Hz',),
 ('kVA',),
 ('kVAh',),
 ('kVAR',),
 ('kVARh',),
 ('kW',),
 ('kWh',),
 ('kWH',),
 ('Kwh',),
 ('KWH',),
 ('lbs',),
 ('Lbs',),
 ('Pounds',),
 ('seconds',),
 ('subinterval',),
 ('test',),
 ('top',),
 ('Units',),
 ('unused',),
 ('uS',),
 ('V',),
 ('Volts',),
 ('W',),
 ('Wh',)]

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 3b

Sometimes, entity resolution is as simple as a text transformation. For example, how many unique `units` values are there, and how many would there be if we ignored case (upper vs. lower case)? Your output should be a table with one row and two columns; the first column should contain the number of unique `units` values, and the second column should contain the number of unique `units` values if we ignored case. The two columns can have arbitrary names.

<!--
BEGIN QUESTION
name: q3bm
manual: true
points: 0
-->

In [24]:
%%sql result_3b <<
SELECT 
    COUNT(DISTINCT units), 
    COUNT(DISTINCT LOWER(units))
FROM metadata

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_3b

In [25]:
result_3b

[(34, 29)]

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q3b
points: 1
-->

In [26]:
# Do not delete/edit this cell
result_3b.DataFrame().to_csv('results/result_3b.csv', index=False)

In [27]:
grader.check("q3b")

q3b results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 3c

Arguably we shouldn't care about these alternative unit labels, *as long as each sensor class uses a single value of `units` for all its sensor ids*. After all, maybe the capitalization means something to somebody!

Write a SQL query that returns single row with one column of value `true` if the condition in italics above holds, or a single row with one column of value `false` otherwise. Please do not hard code this query - we reserve the right to penalize your score if you do so.

<!--
BEGIN QUESTION
name: q3cm
manual: true
points: 0
-->

In [35]:
%%sql result_3c <<
...

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q3c
points: 1
-->

In [36]:
# Do not delete/edit this cell
result_3c.DataFrame().to_csv('results/result_3c.csv', index=False)

In [ ]:
grader.check("q3c")

<!-- BEGIN QUESTION -->

### Question 3d

Moving on, have a look at the `real_estate_metadata` table---starting with the distinct values in the `location` field! What do you notice about these values?

<!--
BEGIN QUESTION
name: q3d
manual: true
points: 0
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



### Question 3e

It turns out this table was the result of an [OCR scan](https://en.wikipedia.org/wiki/Optical_character_recognition). We'll just clean up the `location` column for now, and leave you to imagine the effort to do a full cleanup of all columns.

To provide some useful utility functions, we have preloaded Postgres' extension packages for "fuzzy" string matching and trigrams for you. You can use any of the string functions in those packages if you like ([as documented here for fuzzystrmatch](https://www.postgresql.org/docs/current/fuzzystrmatch.html) or [here for pg_trgm](https://www.postgresql.org/docs/current/pgtrgm.html)).

We also created a lookup table of canonical names, `uc_locations`.

Now, using any of the string functions you like (or none at all!), write a SQL query that returns the columns `(building_name, address, location, clean_location)` where `clean_location` contains the best match from `uc_locations.loc_name`. You may find that you can't clean up everything with the string functions, so your view may have to include some specific logic for cases in the data that have to be handled "manually". You can choose to do this question in whatever manner you wish as long as your query does not use `CREATE TABLE`, `INSERT INTO`, or `UPDATE`.

In [39]:
%%sql result_3e <<
...

In [40]:
# Do not delete/edit this cell
result_3e.DataFrame().sort_values(['clean_location', 'building_name', 'address']).iloc[::10].to_csv('results/result_3e.csv', index=False)

In [ ]:
grader.check("q3e")

## Question 4: Interpolating Missing Data
Real-world data, real-world problems. Our sensors should be reporting every 15 minutes, but you can be sure that we're missing some data. Here we will fix it. It's a bit more involved than what we looked at in class!

### Question 4a: Finding missing readings
In the `data` table, the `id` column identifies a unique sensor. Sensor readings should be recorded every 15 minutes from every sensor. Are we missing any readings, and if so which ones? We will focus on readings that are separated by at least 30 minutes or more; readings that are \[0-30) minutes apart are considered to be fine.

To answer this question you'll need to read up a bit on [SQL timestamps](https://www.postgresql.org/docs/current/datatype-datetime.html) and [Functions for manipulating datetime types](https://www.postgresql.org/docs/current/functions-datetime.html). Have a particular look at the following:
- The [date_trunc](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC) function will quantize times to the nearest unit of your choosing. E.g. to round the `time` field to the nearest minute you can say `date_trunc('minute', time)`. **You'll need to quantize to minutes right away before you worry about missing readings.**
- There are various ways to enter constant intervals of time as strings. E.g. a 30 minute interval can be written as `interval '30 minutes'` or `'30 minutes'::interval`. See [date/time input](https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-INTERVAL-INPUT) for more info.
- You can do arithmetic on date/time types [as documented here](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC). That will handle all the weird periodicities of clocks and calendars for you. Pay attention to the input and output types of these functions!
- Alternatively, the [EXTRACT](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) function is sometimes handy. Note the special `EXTRACT(EPOCH FROM ...)` case. This converts a timestamp into an integer representing the number of seconds since midnight, 1/1/1970 (the dawn of [UNIX time](https://en.wikipedia.org/wiki/Unix_time)!)  You can do normal integer comparisons and arithmetic on the results.
- You will need to use the [lag](https://www.geeksforgeeks.org/postgresql-lag-function/) function as the window function.


Create a view called `gaps` that augments the `data` schema with three columns:
- `lagtime` is the quantized time of the previous reading for that sensor (relative to the current row for a particular row)
- `lagvalue` is the value of the previous reading for that sensor
- `timediff` is the difference in quantized time between this reading and the previous reading

The view should only contain rows where `timediff` is **greater than or equal to 30 minutes**.

In [50]:
%%sql result_4a <<
CREATE OR REPLACE VIEW gaps AS
...
;
SELECT * FROM gaps ORDER BY id, time LIMIT 10;

In [51]:
# Do not delete/edit this cell
result_4a.DataFrame().to_csv('results/result_4a.csv', index=False)

In [ ]:
grader.check("q4a")

### Question 4b: Creating tuples for the missing readings
Now we need to manufacture new tuples to fill in the gaps. For example, if you had a tuple from id `abc` timestamped at 1PM today and the next tuple in time from `abc` was timestamped at 1:45PM, you'll need to manufacture two new tuples with id `abc` and `NULL` values: one timestamped at 1:15PM and another timestamped at 1:30PM. We will worry about replacing the `NULL` values in the next step.

To manufacture tuples not related to stored data in the database, we'll need to use a *table-valued function* as we did in lecture 12 (when we manufactured data from a normal distribution). The table-valued function we want here is `generate_series` [(documented here)](https://www.postgresql.org/docs/current/functions-srf.html), which we will use to generate *and sequentially timestamp* the right number of tuples to match the number of tuples we found missing.

To get a feel for `generate_series`, consider the following simple query that generates a table of integers with intervals of size 3 between them.

In [55]:
%%sql
SELECT *
  FROM generate_series(1, 10, 3);

Now, we can use `generate_series` in a `LATERAL JOIN` query: for each tuple on the left of the `LATERAL` it will produce a series based on the values of that tuple. So for example, we can generate 2 tuples for each tuple of `uc_locations` as follows:

In [56]:
%%sql
SELECT loc_id, loc_name, length(loc_name), newval
  FROM uc_locations u, 
       LATERAL generate_series(length(loc_name), length(loc_name) + 2, 2) AS newval;

Notice how the 2 values it generates are the length of the `loc_name`, and the length + 2. You might want to play with the query above to make sure you understand the documentation for `generate_series` and `LATERAL`.

Ok, on to your task!

Create a view `complete` that contains the tuples from `data` as well as new tuples that fill in any gaps greater than or equal to 30 minutes. Each gap should be filled by adding tuples in increments of 15 minutes from the *start* of the gap, **with `NULL` as the value**. You probably want to use your `gaps` view as well as `generate_series` to do this!

**Hint:** the lower and upper bounds in generate_series (in pseudocode) should be `(lagtime + 15 minutes, time - 15 minutes)`.

In [68]:
%%sql result_4b <<
CREATE OR REPLACE VIEW complete AS
...
;

SELECT * FROM complete ORDER BY id, time LIMIT 100;

In [69]:
# Do not delete/edit this cell
result_4b.DataFrame().to_csv('results/result_4b.csv', index=False)

In [ ]:
grader.check("q4b")

### Question 4c: Linear Interpolation
*Note: If you struggled with the previous subparts of this problem, you can use our table `complete_provided` instead of your `complete` table in this subpart.*

Now, given the `complete` view or the `complete_provided` table, the remaining task is to do linear interpolation to fill in the missing values we manufactured in Step 2. We have code from **this semester's** Lecture 14 (Data Cleaning) we can reuse here! In particular, your database already includes the UDA `coalesce_agg` we used in lecture (you can use it directly, there's no need to redefine it).

But note that in Lecture 14's example of linear interpolation we had a field called `entry_rank` that was used to order *all* the records in the table. By contrast, here the ordering we care about is the series of `time` for each sensor `id` *independently*. You will need to make minor changes to adapt the linear interpolation code from class to work here.

Create a view `likely_data` that contains all the tuples from `complete`, with an additional column called `interpolated` that contains a copy of `value` if it is non-NULL, otherwise an interpolated value based on linear interpolation *per sensor id over time*. Please **retain all additional columns created from forward and backward passes** (there should be 10 columns in the view - the order of the columns does not matter.) The three cells below correspond to the forward, backward, and final passes from lecture.

In [ ]:
%%sql
CREATE OR REPLACE VIEW forward AS
...

In [97]:
%%sql
CREATE OR REPLACE VIEW backward AS
...

In [98]:
%%sql result_4c <<
CREATE OR REPLACE VIEW likely_data AS
...
;
SELECT * FROM likely_data WHERE run_size > 2 ORDER BY id, time LIMIT 100;

In [99]:
# Do not delete/edit this cell
result_4c.DataFrame().to_csv('results/result_4c.csv', index=False)

In [ ]:
grader.check("q4c")

## Congratulations! You have finished Project 3.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

**For submission on Gradescope, you will need to submit BOTH the proj3.zip file genreated by the export cell and the results.zip file generated by the following cell.**

**Common submission issues:** You MUST submit the generated zip files (not folders) to the autograder. However, Safari is known to automatically unzip files upon downloading. You can fix this by going into Safari preferences, and deselect the box with the text "Open safe files after downloading" under the "General" tab. If you experience issues with downloading via clicking on the link, you can also navigate to the project 3 directory within JupyterHub (remove `proj3.ipynb` from the url), and manually download the generated zip files. Please post on Ed if you encounter any other submission issues.

In [103]:
from IPython.display import display, FileLink

!zip -r results.zip results
results_file = FileLink('./results.zip', result_html_prefix="Click here to download: ")
display(results_file)

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()