In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("proj2.ipynb")

# Project 2: Query Performance
## Due Date: Friday 10/07, 11:59 PM
## Assignment Details
In this project, we will explore how the database system optimizes query execution and how users can futher tune the performance of their queries.

This project works with the Lahman's Baseball Database, an open source collection of baseball statistics from 1871 to 2020. It contains a variety of data, like batting statistics, team stats, managerial records, Hall of Fame records, and much more.

**Note:** If at any point during the project, the internal state of the database or its tables have been modified in an undesirable way (i.e. a modification not resulting from the instructions of a question), restart your kernel and clear output and simply re-run the notebook as normal. This will shutdown you current connection to the database, which will prevent the issue of multiple connections to the database at any given point, and when re-running the notebook you will create a fresh database based on the provided Postgres dump.

## Logistics & Scoring Breakdown

For Data 101 students, this project is worth 15% of your grade. For Info 258 students, this project is worth 12% of your grade.

- Each coding question has **both public tests and hidden tests**. Roughly 50% of your coding grade will be made up of your score on the public tests released to you, while the remaining 50% will be made up of unreleased hidden tests.
- Public tests for multiple choice questions are for sanity check only (e.g. you are answering in the correct format). Partial credit will be awarded.
- Free-response questions will be manually graded. Please answer thoughtfully in complete sentences, drawing from knowledge in lectures and from your inspection of query plans.

This is an **individual project**. However, you‚Äôre welcome to collaborate with any other student in the class as long as it‚Äôs within the academic honesty guidelines.

Question | Points
--- | ---
0 | 1
1a	| 1
1bi	| 1
1bii	| 2
1c	| 1
1di	| 2
1dii	| 1
1ei	| 1
1eii	| 1
1eiii	| 1
1eiv	| 2
1ev	| 2
2a	| 1
2b	| 1
2c	| 2
2d	| 2
3a	| 1
3b	| 1
3c |	1
3d	| 3
4a	| 2
4b	| 1
4c	| 1
4di	| 2
4dii |	2
4ei	| 2
4eii | 	1
4eiii |	2
4eiv |	1
4ev |	1
4evi |	2
4evii |	2
5a | 2
5b | 2
5c | 1
5d | 2
6a | 2
6b | 1
6c | 1
6d | 2
6e | 2
7a | 1
7b | 1
7c | 2
8  | 6
**Total** | 72

In [2]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

## Getting Connected
Similar to Project 1, we will be using the `ipython-sql` library to connect this notebook to a PostgreSQL database server on your JupyterHub account. Run the following cell to initiate the connection.

In [ ]:
%reload_ext sql
%sql postgresql://jovyan@127.0.0.1:5432/postgres

## Setting up the Database
The following cell will create the `baseball` database (if needed), unzip the Postgres dump of the Lahman's Baseball Database, populate the `baseball` database with the desired tables and data, and finally display all databases associated with the Postgres instance. After running the cell, you should see the `baseball` database in the generated list of databases outputted by `%sql \l`.

**Note:** If you run into the **role does not exist** error, feel free to ignore it. It does not affect data import.

In [ ]:
!psql -h localhost -c 'DROP DATABASE IF EXISTS baseball'
!psql -h localhost -c 'CREATE DATABASE baseball'
!gzip -dc data/lahman.pgdump.gz | psql -h localhost -d baseball -f -
!psql -h localhost -c 'SET max_parallel_workers_per_gather = 0;'
%sql \l

Now, run the following cell to connect to the `baseball` database. There should be no errors after running the following cell.

In [3]:
%reload_ext sql

%sql postgresql://postgres@127.0.0.1:5432/baseball

To ensure that the connection to the database has been established, let's try grabbing the first 5 rows from the `halloffame` table.

In [8]:
%%sql
SELECT * FROM halloffame LIMIT 5

 * postgresql://postgres:***@127.0.0.1:5432/baseball
5 rows affected.

[('cobbty01', 1936, 'BBWAA', 226, 170, 222, 'Y', 'Player', None),
 ('ruthba01', 1936, 'BBWAA', 226, 170, 215, 'Y', 'Player', None),
 ('wagneho01', 1936, 'BBWAA', 226, 170, 215, 'Y', 'Player', None),
 ('mathech01', 1936, 'BBWAA', 226, 170, 205, 'Y', 'Player', None),
 ('johnswa01', 1936, 'BBWAA', 226, 170, 189, 'Y', 'Player', None)]

Run the following cell for grading purposes.

In [ ]:
!mkdir -p results

## Table Descriptions
In its entirety the Lahman's Baseball Database contains 27 tables containing a variety of statistics for players, teams, games, schools, etc. For simplicity, this project will focus on a subset of the tables:
* `appearances`: details on the positions each player appeared at
* `batting`: batting statistics for each player
* `collegeplaying`: list of players and the colleges they attended
* `halloffame`: Hall of Fame voting data
* `people`: player information (name, date of birth, and biographical info)
* `salaries`: player salary data
* `schools`: list of colleges that players attended

As a reminder from Project 1, `%sql \d <table_name>` is helpful for identifying the columns in a table.

## Question 0: PostgreSQL Explain Analyze
**Please read through this section carefully, as a vast majority of the project will require you to inspect query plans via interpreting the output of the explain analyze command.**

To inspect the query plan for a given query, create a variable storing the query as a string and invoke a `psql` shell command to `explain analyze` the query: 

`your_variable = "__REPLACE_ME_WITH_QUERY__"`

`!psql -h localhost -d baseball -c "explain analyze $your_variable"`

Take a look at the following sample query plan.

![title](data/sample_query.png)

It is highly recommended to read through [this article](https://www.cybertec-postgresql.com/en/how-to-interpret-postgresql-explain-analyze-output/) to see how you can interpret the output above. Everything before "Tools to interpret Explain Analyze output" is useful.

Here are some key things to note:
- There are two cost values: the first is the **startup cost** (cost to return the first row) and the second is the **total cost** (cost to return all rows).
- The unit for the estimated query cost is arbitrary (1 is the cost for reading an 8kB page during a sequential scan)
- When we ask you to identify the query cost, we are looking for the **total cost**
- When we ask you to identify the query time, we are looking for the **execution time** (in ms)
- Feel free to round the query cost / time to the nearest integer, but we'll accept anything more exact
- We recognzie that the execution time may vary between different cell executions, so the autograder will tolerate a reasonable range

Now, inspect the query plan above, and record the **cost** and **time** for the sample query.

<!--
BEGIN QUESTION
name: q0
points: 1
-->

In [9]:
sample_query_str = """
    SELECT * 
    FROM people as p 
    INNER JOIN collegeplaying AS cp 
    ON p.playerid = cp.playerid
"""

%sql EXPLAIN (ANALYZE, BUFFERS) {sample_query_str}

 * postgresql://postgres:***@127.0.0.1:5432/baseball
14 rows affected.

[('Hash Join  (cost=861.83..1193.88 rows=17350 width=167) (actual time=19.541..33.044 rows=17350 loops=1)',),
 ('  Hash Cond: ((cp.playerid)::text = (p.playerid)::text)',),
 ('  Buffers: shared hit=539',),
 ('  ->  Seq Scan on collegeplaying cp  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.013..1.413 rows=17350 loops=1)',),
 ('        Buffers: shared hit=113',),
 ('  ->  Hash  (cost=619.70..619.70 rows=19370 width=146) (actual time=19.434..19.437 rows=19370 loops=1)',),
 ('        Buckets: 32768  Batches: 1  Memory Usage: 3633kB',),
 ('        Buffers: shared hit=426',),
 ('        ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.021..2.972 rows=19370 loops=1)',),
 ('              Buffers: shared hit=426',),
 ('Planning:',),
 ('  Buffers: shared hit=273',),
 ('Planning Time: 9.336 ms',),
 ('Execution Time: 34.422 ms',)]

In [10]:
sample_query_cost = 1193.88
sample_query_timing = 19.012

In [11]:
grader.check("q0")

q0 results:
    q0 - 1 result:
        ‚ùå Test case failed
        Trying:
            1193 <= sample_query_cost <= 1194 and 185 <= sample_query_timing <= 186
        Expecting:
            True
        **********************************************************************
        Line 1, in q0 0
        Failed example:
            1193 <= sample_query_cost <= 1194 and 185 <= sample_query_timing <= 186
        Expected:
            True
        Got:
            False

## Question 1: Queries and Views
### Question 1a:
Write a query that finds `namefirst`, `namelast`, `playerid` and `yearid` of all people who were successfully inducted into the Hall of Fame. **Note**: Your query should **NOT** use any sub-queries.

In [12]:
%sql SELECT * FROM information_schema.columns WHERE table_schema = 'public' AND table_name LIKE '%school%' LIMIT 10;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
5 rows affected.

[('baseball', 'public', 'schools', 'schoolid', 1, None, 'NO', 'character varying', 15, 60, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'baseball', 'pg_catalog', 'varchar', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('baseball', 'public', 'schools', 'schoolname', 2, 'NULL::character varying', 'YES', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'baseball', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('baseball', 'public', 'schools', 'schoolcity', 3, 'NULL::character varying', 'YES', 'character varying', 55, 220, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'baseball', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('baseball', 'public', 'schools', 'schoolstate', 4, 'NULL::character varying', 'YES', 'character varying', 55, 220, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'baseball', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('baseball', 'public', 'schools', 'schoolnick', 5, 'NULL::character varying', 'YES', 'character varying', 55, 220, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'baseball', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [4]:
%%sql result_1a <<

SELECT 
    namefirst, 
    namelast, 
    h.playerid, 
    yearid
FROM halloffame h
INNER JOIN people p
ON h.playerid = p.playerid
WHERE inducted = 'Y';

 * postgresql://postgres:***@127.0.0.1:5432/baseball
323 rows affected.
Returning data to local variable result_1a

In [5]:
# Do not delete/edit this cell
result_1a.DataFrame().sort_values(['playerid', 'yearid']).to_csv('results/result_1a.csv', index=False)

In [6]:
pd.read_csv('results/result_1a.csv').shape

(323, 4)

In [7]:
grader.check("q1a")

q1a results: All test cases passed!

### Question 1b:
In this question, we will compare the query you wrote in `Question 1a` against the provided query in `Question 1bi` by inspecting the query plans.

#### Question 1bi: 
Inspect the query plan for `provided_query` and the query you wrote in `Question 1a`. Record the **execution time** and **cost** for each query.

In [8]:
def flatten_query(query: str):
    lst = query.replace('\n', ' ').split(' ')
    return ' '.join([word for word in lst if word])

In [9]:
%%sql provided_query <<
SELECT namefirst, namelast, p.playerid, yearid
FROM people AS p, (SELECT * FROM halloffame WHERE inducted = 'Y') AS hof 
WHERE p.playerid = hof.playerid;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
323 rows affected.
Returning data to local variable provided_query

In [10]:
provided_query_str = flatten_query("""
    SELECT 
        namefirst, 
        namelast, 
        p.playerid, 
        yearid
    FROM people AS p, (SELECT * FROM halloffame WHERE inducted = 'Y') AS hof 
    WHERE p.playerid = hof.playerid;
""") 

!psql -h localhost -d baseball -c "explain analyze $provided_query_str"

                                                       QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=861.83..959.06 rows=323 width=25) (actual time=8.795..9.427 rows=323 loops=1)
   Hash Cond: ((halloffame.playerid)::text = (p.playerid)::text)
   ->  Seq Scan on halloffame  (cost=0.00..96.39 rows=323 width=13) (actual time=0.013..0.552 rows=323 loops=1)
         Filter: ((inducted)::text = 'Y'::text)
         Rows Removed by Filter: 3868
   ->  Hash  (cost=619.70..619.70 rows=19370 width=21) (actual time=8.668..8.668 rows=19370 loops=1)
         Buckets: 32768  Batches: 1  Memory Usage: 1293kB
         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=21) (actual time=0.009..4.919 rows=19370 loops=1)
 Planning Time: 3.388 ms
 Execution Time: 9.678 ms
(10 rows)

In [27]:
inducted_hof_query_str = flatten_query("""
    SELECT 
        namefirst, 
        namelast, 
        h.playerid, 
        yearid 
    FROM halloffame h 
    INNER JOIN people p 
    ON h.playerid = p.playerid 
    WHERE inducted = 'Y';
""")

!psql -h localhost -d baseball -c "explain analyze $inducted_hof_query_str"

                                                       QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=861.83..959.06 rows=323 width=25) (actual time=9.059..9.815 rows=323 loops=1)
   Hash Cond: ((h.playerid)::text = (p.playerid)::text)
   ->  Seq Scan on halloffame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.015..0.654 rows=323 loops=1)
         Filter: ((inducted)::text = 'Y'::text)
         Rows Removed by Filter: 3868
   ->  Hash  (cost=619.70..619.70 rows=19370 width=21) (actual time=8.927..8.927 rows=19370 loops=1)
         Buckets: 32768  Batches: 1  Memory Usage: 1293kB
         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=21) (actual time=0.010..5.021 rows=19370 loops=1)
 Planning Time: 3.998 ms
 Execution Time: 10.143 ms
(10 rows)

In [ ]:
provided_query_cost = ...
provided_query_timing = ...
your_query_cost = ...
your_query_timing = ...

In [ ]:
grader.check("q1bi")

#### Question 1bii:
Given your findings from inspecting the query plans of the two queries, answer the following question. Assign the variable `q1b_part2` to a list of answer choices which are true statements.

1. Consider the following statements:
    1. Both the queries have the same cost.
    1. The provided query has a faster execution time because it makes use of a subquery.
    1. The query you wrote has a faster execution time because it does not make use a subquery.
    1. The provided query has less cost because it makes use of a subquery.
    1. The query you wrote has less cost because it does not make use a subquery.
    1. The queries have the same output.
    1. The queries do not have the same output.
    
**Note:** Your answer should look like `q1b_part2 = ['A', 'B']`

<!--
BEGIN QUESTION
name: q1bii
points: 2
-->

In [ ]:
q1b_part2 = ...

In [ ]:
grader.check("q1bii")

### Question 1c:
Write a query that creates a view named `inducted_hof_ca` of the people who were successfully inducted into the Hall of Fame and played in college at a school located in California. For each player, return their `namefirst`, `namelast`, `playerid`, `schoolid`, and `yearid` ordered by the `yearid` and then the `playerid`. 

**Note**: For this query, `yearid` refers to player's year of induction into the Hall of Fame.

In [14]:
%%sql result_1c <<
DROP VIEW IF EXISTS inducted_hof_ca;
CREATE VIEW inducted_hof_ca AS
SELECT 
    namefirst, 
    namelast, 
    h.playerid, 
    c.schoolid, 
    h.yearid
FROM halloffame h
JOIN collegeplaying c
ON h.playerid = c.playerid
JOIN schools s
ON c.schoolid = s.schoolid
JOIN people p
ON h.playerid = p.playerid
WHERE inducted = 'Y' AND schoolstate = 'CA'
ORDER BY yearid, playerid;

SELECT * 
FROM inducted_hof_ca;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Done.
23 rows affected.
Returning data to local variable result_1c

In [15]:
# Do not delete/edit this cell
result_1c.DataFrame().sort_values(['playerid', 'schoolid', 'yearid']).to_csv('results/result_1c.csv', index=False)

In [16]:
grader.check("q1c")

q1c results: All test cases passed!

### Question 1d:
For this question, we want to compute the count of players who were inducted into the Hall of Fame and played baseball at a college in California for each `schoolid` and `yearid` combination ordered by ascending `yearid`.

#### Question 1di:
Write two queries that accomplish this task -- one query using the view you created in the `Question 1c` and one query that does not use the view, common table expressions (CTEs), or any sub-queries.

In [17]:
%%sql with_view <<
SELECT 
    schoolid, 
    yearid, 
    COUNT(playerid) num_of_players
FROM inducted_hof_ca
GROUP BY schoolid, yearid
ORDER BY yearid

 * postgresql://postgres:***@127.0.0.1:5432/baseball
13 rows affected.
Returning data to local variable with_view

In [18]:
%%sql without_view <<
SELECT 
    c.schoolid, h.yearid, COUNT(h.playerid) num_of_players
FROM halloffame h
JOIN collegeplaying c
ON h.playerid = c.playerid
JOIN schools s
ON c.schoolid = s.schoolid
JOIN people p
ON h.playerid = p.playerid
WHERE inducted = 'Y' AND schoolstate = 'CA'
GROUP BY c.schoolid, h.yearid
ORDER BY h.yearid;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
13 rows affected.
Returning data to local variable without_view

In [19]:
without_view == with_view

True

In [20]:
# Do not delete/edit this cell
with_view.DataFrame().sort_values(['schoolid', 'yearid']).to_csv('results/result_1di_view.csv', index=False)
without_view.DataFrame().sort_values(['schoolid', 'yearid']).to_csv('results/result_1di_no_view.csv', index=False)

In [21]:
grader.check("q1di")

q1di results: All test cases passed!

#### Question 1dii:
Fill in your queries from `Question 1di` and inspect the query plans for the two queries. Record the execution time and cost for each query.

In [22]:
with_view_query_str = flatten_query("""
    SELECT 
        schoolid, 
        yearid, 
        COUNT(playerid) num_of_players
    FROM inducted_hof_ca
    GROUP BY schoolid, yearid
    ORDER BY yearid
""")

!psql -h localhost -d baseball -c "explain analyze $with_view_query_str"

                                                                             QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=525.47..527.39 rows=96 width=20) (actual time=10.029..10.038 rows=13 loops=1)
   Group Key: inducted_hof_ca.yearid, inducted_hof_ca.schoolid
   ->  Sort  (cost=525.47..525.71 rows=96 width=21) (actual time=10.024..10.027 rows=23 loops=1)
         Sort Key: inducted_hof_ca.yearid, inducted_hof_ca.schoolid
         Sort Method: quicksort  Memory: 26kB
         ->  Subquery Scan on inducted_hof_ca  (cost=521.11..522.31 rows=96 width=21) (actual time=9.993..9.998 rows=23 loops=1)
               ->  Sort  (cost=521.11..521.35 rows=96 width=257) (actual time=9.992..9.995 rows=23 loops=1)
                     Sort Key: h.yearid, h.playerid
                     Sort Method: quicksort  Memory: 26kB
                     ->  Nested Loop  (cost=386.71..517.95 rows=96 width=257) (actual time=9.484..9.980 rows=23 loops=1)
                           Join Filter: ((h.playerid)::text = (p.playerid)::text)
                           ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=9.455..9.806 rows=23 loops=1)
                                 Hash Cond: ((h.playerid)::text = (c.playerid)::text)
                                 ->  Seq Scan on halloffame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.018..0.627 rows=323 loops=1)
                                       Filter: ((inducted)::text = 'Y'::text)
                                       Rows Removed by Filter: 3868
                                 ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=9.128..9.129 rows=2948 loops=1)
                                       Buckets: 4096 (originally 2048)  Batches: 1 (originally 1)  Memory Usage: 178kB
                                       ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.208..3.610 rows=2948 loops=1)
                                             Hash Cond: ((c.schoolid)::text = (s.schoolid)::text)
                                             ->  Seq Scan on collegeplaying c  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.007..0.920 rows=17350 loops=1)
                                             ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.191..0.191 rows=136 loops=1)
                                                   Buckets: 1024  Batches: 1  Memory Usage: 14kB
                                                   ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.014..0.169 rows=136 loops=1)
                                                         Filter: ((schoolstate)::text = 'CA'::text)
                                                         Rows Removed by Filter: 1071
                           ->  Index Only Scan using master_pkey on people p  (cost=0.29..0.32 rows=1 width=9) (actual time=0.007..0.007 rows=1 loops=23)
                                 Index Cond: (playerid = (c.playerid)::text)
                                 Heap Fetches: 0
 Planning Time: 9.505 ms
 Execution Time: 10.316 ms
(31 rows)

In [23]:
without_view_query_str = flatten_query("""
    SELECT
        c.schoolid, h.yearid, COUNT(h.playerid) num_of_players
    FROM halloffame h
    JOIN collegeplaying c
    ON h.playerid = c.playerid
    JOIN schools s
    ON c.schoolid = s.schoolid
    JOIN people p
    ON h.playerid = p.playerid
    WHERE inducted = 'Y' AND schoolstate = 'CA'
    GROUP BY c.schoolid, h.yearid
    ORDER BY h.yearid
""")

!psql -h localhost -d baseball -c"explain analyze $without_view_query_str"

                                                                       QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=521.11..523.03 rows=96 width=20) (actual time=4.309..4.319 rows=13 loops=1)
   Group Key: h.yearid, c.schoolid
   ->  Sort  (cost=521.11..521.35 rows=96 width=21) (actual time=4.301..4.306 rows=23 loops=1)
         Sort Key: h.yearid, c.schoolid
         Sort Method: quicksort  Memory: 26kB
         ->  Nested Loop  (cost=386.71..517.95 rows=96 width=21) (actual time=3.633..4.273 rows=23 loops=1)
               Join Filter: ((h.playerid)::text = (p.playerid)::text)
               ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=3.599..4.074 rows=23 loops=1)
                     Hash Cond: ((h.playerid)::text = (c.playerid)::text)
                     ->  Seq Scan on halloffame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.015..0.629 rows=323 loops=1)
                           Filter: ((inducted)::text = 'Y'::text)
                           Rows Removed by Filter: 3868
                     ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=3.338..3.340 rows=2948 loops=1)
                           Buckets: 4096 (originally 2048)  Batches: 1 (originally 1)  Memory Usage: 178kB
                           ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.194..2.887 rows=2948 loops=1)
                                 Hash Cond: ((c.schoolid)::text = (s.schoolid)::text)
                                 ->  Seq Scan on collegeplaying c  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.009..0.834 rows=17350 loops=1)
                                 ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.173..0.173 rows=136 loops=1)
                                       Buckets: 1024  Batches: 1  Memory Usage: 14kB
                                       ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.012..0.152 rows=136 loops=1)
                                             Filter: ((schoolstate)::text = 'CA'::text)
                                             Rows Removed by Filter: 1071
               ->  Index Only Scan using master_pkey on people p  (cost=0.29..0.32 rows=1 width=9) (actual time=0.008..0.008 rows=1 loops=23)
                     Index Cond: (playerid = (c.playerid)::text)
                     Heap Fetches: 0
 Planning Time: 5.720 ms
 Execution Time: 4.484 ms
(27 rows)

In [44]:
with_view_cost = ...
with_view_timing = ...
without_view_cost = ...
without_view_timing = ...

In [ ]:
grader.check("q1dii")

### Question 1e:
#### Question 1ei:
Now, let's try creating a materialized view named `inducted_hof_ca_mat` instead of the regular view from `Question 1c`.

In [24]:
%%sql inducted_hof_ca_materialized <<
DROP MATERIALIZED VIEW IF EXISTS inducted_hof_ca_mat;

CREATE MATERIALIZED VIEW inducted_hof_ca_mat AS
SELECT 
    namefirst, 
    namelast, 
    h.playerid, 
    c.schoolid, 
    h.yearid
FROM halloffame h
JOIN collegeplaying c
ON h.playerid = c.playerid
JOIN schools s
ON c.schoolid = s.schoolid
JOIN people p
ON h.playerid = p.playerid
WHERE inducted = 'Y' AND schoolstate = 'CA'
ORDER BY yearid, playerid;

SELECT * FROM inducted_hof_ca_mat;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
23 rows affected.
23 rows affected.
Returning data to local variable inducted_hof_ca_materialized

In [46]:
# Do not delete/edit this cell
inducted_hof_ca_materialized.DataFrame().sort_values(['playerid', 'schoolid', 'yearid']).to_csv('results/result_1ei.csv', index=False)

In [47]:
grader.check("q1ei")

q1ei results: All test cases passed!

#### Question 1eii:

Now, rewrite the query from `Question 1d` to use the materialized view `inducted_hof_ca_mat`.

In [48]:
%%sql with_materialized_view <<
    SELECT 
        schoolid, 
        yearid, 
        COUNT(playerid) num_of_players
    FROM inducted_hof_ca_mat
    GROUP BY schoolid, yearid
    ORDER BY yearid

 * postgresql://postgres:***@127.0.0.1:5432/baseball
13 rows affected.
Returning data to local variable with_materialized_view

In [49]:
# Do not delete/edit this cell
with_materialized_view.DataFrame().sort_values(['schoolid', 'yearid']).to_csv('results/result_1eii.csv', index=False)

In [50]:
grader.check("q1eii")

q1eii results: All test cases passed!

#### Question 1eiii:
Inspect the query plan and record the execution time and cost of the query that uses the materialized view.

In [59]:
with_materialized_view_query_str = flatten_query("""
    SELECT 
        schoolid, 
        yearid, 
        COUNT(playerid) num_of_players
    FROM inducted_hof_ca_mat
    GROUP BY schoolid, yearid
    ORDER BY yearid
""")


!psql -h localhost -d baseball -c "explain analyze $with_materialized_view_query_str"

                                                          QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------
 Sort  (cost=23.67..24.17 rows=200 width=60) (actual time=0.064..0.066 rows=13 loops=1)
   Sort Key: yearid
   Sort Method: quicksort  Memory: 25kB
   ->  HashAggregate  (cost=14.03..16.02 rows=200 width=60) (actual time=0.043..0.046 rows=13 loops=1)
         Group Key: yearid, schoolid
         Batches: 1  Memory Usage: 40kB
         ->  Seq Scan on inducted_hof_ca_mat  (cost=0.00..12.30 rows=230 width=90) (actual time=0.014..0.015 rows=23 loops=1)
 Planning Time: 0.720 ms
 Execution Time: 0.203 ms
(9 rows)

In [54]:
with_materialized_view_cost = ...
with_materialized_view_timing = ...

In [55]:
grader.check("q1eiii")

q1eiii results:
    q1eiii - 1 result:
        ‚ùå Test case failed
        Trying:
            0 <= with_materialized_view_timing <= 10000 and 0 <= with_materialized_view_cost <= 10000
        Expecting:
            True
        **********************************************************************
        Line 1, in q1eiii 0
        Failed example:
            0 <= with_materialized_view_timing <= 10000 and 0 <= with_materialized_view_cost <= 10000
        Exception raised:
            Traceback (most recent call last):
              File "c:\Users\nhata\AppData\Local\Programs\Python\Python311\Lib\doctest.py", line 1351, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q1eiii 0[0]>", line 1, in <module>
                0 <= with_materialized_view_timing <= 10000 and 0 <= with_materialized_view_cost <= 10000
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

#### Question 1eiv:
Given your findings from inspecting the query plans, as well as your understanding of views and materialized views from lectures, answer the following question. Assign the variable `q1e_part4` to a list of all statements which are true.

1. Consider the following statements:
    1. Views will reduce the execution time and the cost of a query.
    1. Views will reduce the execution time of a query, but not the cost.
    1. Views will reduce the cost of a query, but not the execution time.
    1. Materialized views reduce the execution time and the cost of a query.
    1. Materialized views reduce the execution time, but not cost of a query.
    1. Materialized views reduce the cost of a query, but not the execution time.
    1. Materialized views will result in the same query plan as a query using views.
    1. Materialized views and views take the same time to create.
    1. Materialized views take less time to create than a view.
    1. Materialized views take more time to create than a view.
    
*Note:* Your answer should look like `q1e_part4 = ['A', 'B']`

<!--
BEGIN QUESTION
name: q1eiv
points: 2
-->

In [ ]:
q1e_part4 = ...

In [ ]:
grader.check("q1eiv")

<!-- BEGIN QUESTION -->

#### Question 1ev:

Explain your answer to the previous part based on your knowledge from lectures, and details from the query plans (your explanation should include why you didn't choose certain options).

<!--
BEGIN QUESTION
name: q1ev
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 2: Predicate Pushdown
In this question, we will explore the impact of predicates on a query's execution, particularly inspecting when the optimizer applies predicates.

### Question 2a:
Recall the `inducted_hof_ca` created in `Question 1c`. Inspect the query plan for a query that that gets all rows from the view, and record the execution time and cost.

In [60]:
query_view_str = flatten_query("""
    SELECT * 
    FROM inducted_hof_ca
""")

!psql -h localhost -d baseball -c "explain analyze $query_view_str"

                                                                    QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------
 Sort  (cost=530.54..530.78 rows=96 width=33) (actual time=4.843..4.848 rows=23 loops=1)
   Sort Key: h.yearid, h.playerid
   Sort Method: quicksort  Memory: 26kB
   ->  Nested Loop  (cost=386.71..527.38 rows=96 width=33) (actual time=3.903..4.806 rows=23 loops=1)
         Join Filter: ((h.playerid)::text = (p.playerid)::text)
         ->  Hash Join  (cost=386.42..485.79 rows=96 width=30) (actual time=3.863..4.434 rows=23 loops=1)
               Hash Cond: ((h.playerid)::text = (c.playerid)::text)
               ->  Seq Scan on halloffame h  (cost=0.00..96.39 rows=323 width=13) (actual time=0.014..0.822 rows=323 loops=1)
                     Filter: ((inducted)::text = 'Y'::text)
                     Rows Removed by Filter: 3868
               ->  Hash  (cost=361.99..361.99 rows=1955 width=17) (actual time=3.536..3.538 rows=2948 loops=1)
                     Buckets: 4096 (originally 2048)  Batches: 1 (originally 1)  Memory Usage: 178kB
                     ->  Hash Join  (cost=29.79..361.99 rows=1955 width=17) (actual time=0.184..3.063 rows=2948 loops=1)
                           Hash Cond: ((c.schoolid)::text = (s.schoolid)::text)
                           ->  Seq Scan on collegeplaying c  (cost=0.00..286.50 rows=17350 width=17) (actual time=0.007..0.853 rows=17350 loops=1)
                           ->  Hash  (cost=28.09..28.09 rows=136 width=8) (actual time=0.165..0.166 rows=136 loops=1)
                                 Buckets: 1024  Batches: 1  Memory Usage: 14kB
                                 ->  Seq Scan on schools s  (cost=0.00..28.09 rows=136 width=8) (actual time=0.012..0.144 rows=136 loops=1)
                                       Filter: ((schoolstate)::text = 'CA'::text)
                                       Rows Removed by Filter: 1071
         ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=21) (actual time=0.015..0.015 rows=1 loops=23)
               Index Cond: ((playerid)::text = (c.playerid)::text)
 Planning Time: 6.143 ms
 Execution Time: 4.971 ms
(24 rows)

In [ ]:
query_view_cost = ...
query_view_timing = ...

In [ ]:
grader.check("q2a")

### Question 2b:
Now, add a filter to only return rows from `inducted_hof_ca` where the year is later than 2010. Inspect the query plan and record the execution time and cost.

In [ ]:
%%sql result_2b <<
...

In [61]:
query_view_with_filter_str = flatten_query("""
    SELECT * 
    FROM inducted_hof_ca
    WHERE yearid > 2010
""")

!psql -h localhost -d baseball -c "explain analyze $query_view_with_filter_str"

                                                                             QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Sort  (cost=209.92..209.93 rows=6 width=33) (actual time=1.541..1.543 rows=8 loops=1)
   Sort Key: h.yearid, h.playerid
   Sort Method: quicksort  Memory: 25kB
   ->  Nested Loop  (cost=0.85..209.84 rows=6 width=33) (actual time=0.599..1.514 rows=8 loops=1)
         Join Filter: ((h.playerid)::text = (p.playerid)::text)
         ->  Nested Loop  (cost=0.56..207.24 rows=6 width=30) (actual time=0.576..1.444 rows=8 loops=1)
               ->  Nested Loop  (cost=0.29..190.63 rows=55 width=30) (actual time=0.563..1.235 rows=27 loops=1)
                     ->  Seq Scan on halloffame h  (cost=0.00..106.86 rows=21 width=13) (actual time=0.462..0.508 rows=31 loops=1)
                           Filter: ((yearid > 2010) AND ((inducted)::text = 'Y'::text))
                           Rows Removed by Filter: 4160
                     ->  Index Only Scan using collegeplaying_pkey on collegeplaying c  (cost=0.29..3.96 rows=3 width=17) (actual time=0.023..0.023 rows=1 loops=31)
                           Index Cond: (playerid = (h.playerid)::text)
                           Heap Fetches: 0
               ->  Index Scan using schools_pkey on schools s  (cost=0.28..0.30 rows=1 width=8) (actual time=0.007..0.007 rows=0 loops=27)
                     Index Cond: ((schoolid)::text = (c.schoolid)::text)
                     Filter: ((schoolstate)::text = 'CA'::text)
                     Rows Removed by Filter: 1
         ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=21) (actual time=0.008..0.008 rows=1 loops=8)
               Index Cond: ((playerid)::text = (c.playerid)::text)
 Planning Time: 6.731 ms
 Execution Time: 1.633 ms
(21 rows)

In [ ]:
query_view_with_filter_cost = ...
query_view_with_filter_timing = ...

In [ ]:
grader.check("q2b")

### Question 2c:
Given your findings from inspecting the query plans of queries from `Question 2a-b`, answer the following question. Assign the variable `q2c` to a list of all statements which are true.

1. Consider the following statements:
    1. Adding a filter lowered the cost.
    1. Adding a filter increased the cost.
    1. Adding a filter did not change the cost.
    1. Adding a filter increased the execution time.
    1. Adding a filter decreased the execution time.
    1. Adding a filter did not change the execution time.
    1. No statement is true.
    
    
**Note:** Your answer should look like `q2c = ['A', 'B']`

<!--
BEGIN QUESTION
name: q2c
points: 2
-->

In [ ]:
q2c = ...

In [ ]:
grader.check("q2c")

In [76]:
my_query = flatten_query("""
    SELECT 
        namefirst, 
        namelast, 
        h.playerid, 
        c.schoolid, 
        h.yearid
    FROM halloffame h
    JOIN collegeplaying c
    ON h.playerid = c.playerid
    JOIN schools s
    ON c.schoolid = s.schoolid
    JOIN people p
    ON h.playerid = p.playerid
    WHERE inducted = 'Y' 
    AND schoolstate = 'CA'
    AND h.yearid > 2010
    ORDER BY h.yearid, playerid;
""")

!psql -h localhost -d baseball -c "EXPLAIN ANALYZE $my_query"

                                                                             QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Sort  (cost=209.92..209.93 rows=6 width=33) (actual time=1.253..1.254 rows=8 loops=1)
   Sort Key: h.yearid, h.playerid
   Sort Method: quicksort  Memory: 25kB
   ->  Nested Loop  (cost=0.85..209.84 rows=6 width=33) (actual time=0.618..1.111 rows=8 loops=1)
         Join Filter: ((h.playerid)::text = (p.playerid)::text)
         ->  Nested Loop  (cost=0.56..207.24 rows=6 width=30) (actual time=0.594..1.037 rows=8 loops=1)
               ->  Nested Loop  (cost=0.29..190.63 rows=55 width=30) (actual time=0.574..0.864 rows=27 loops=1)
                     ->  Seq Scan on halloffame h  (cost=0.00..106.86 rows=21 width=13) (actual time=0.535..0.578 rows=31 loops=1)
                           Filter: ((yearid > 2010) AND ((inducted)::text = 'Y'::text))
                           Rows Removed by Filter: 4160
                     ->  Index Only Scan using collegeplaying_pkey on collegeplaying c  (cost=0.29..3.96 rows=3 width=17) (actual time=0.009..0.009 rows=1 loops=31)
                           Index Cond: (playerid = (h.playerid)::text)
                           Heap Fetches: 0
               ->  Index Scan using schools_pkey on schools s  (cost=0.28..0.30 rows=1 width=8) (actual time=0.006..0.006 rows=0 loops=27)
                     Index Cond: ((schoolid)::text = (c.schoolid)::text)
                     Filter: ((schoolstate)::text = 'CA'::text)
                     Rows Removed by Filter: 1
         ->  Index Scan using master_pkey on people p  (cost=0.29..0.42 rows=1 width=21) (actual time=0.009..0.009 rows=1 loops=8)
               Index Cond: ((playerid)::text = (c.playerid)::text)
 Planning Time: 9.947 ms
 Execution Time: 1.308 ms
(21 rows)

<!-- BEGIN QUESTION -->

#### Question 2d:

Explain your answer based on your knowledge from lectures, and details from the query plans (your explanation should include why you didn't choose certain options).

<!--
BEGIN QUESTION
name: q2d
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 3: Join Approaches

In this question, we'll explore different join approaches (Nested Loop Join, Merge Join, Hash Join) and discuss how the query optimizer picks the best approach.

### Question 3a:
Perform an inner join on the `people` and `collegeplaying` tables on the `playerid` column. Project all columns.

In [78]:
%%sql q3a_join <<

SELECT
    *
FROM people p
INNER JOIN collegeplaying c
ON p.playerid = c.playerid

 * postgresql://postgres:***@127.0.0.1:5432/baseball
17350 rows affected.
Returning data to local variable q3a_join

Inspect the query plan for the query you wrote above.

In [79]:
q3a_query_str = flatten_query("""
    SELECT
        *
    FROM people p
    INNER JOIN collegeplaying c
    ON p.playerid = c.playerid
""")

!psql -h localhost -d baseball -c "explain analyze $q3a_query_str"

                                                        QUERY PLAN
---------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=861.83..1193.88 rows=17350 width=167) (actual time=6.169..14.723 rows=17350 loops=1)
   Hash Cond: ((c.playerid)::text = (p.playerid)::text)
   ->  Seq Scan on collegeplaying c  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.009..0.917 rows=17350 loops=1)
   ->  Hash  (cost=619.70..619.70 rows=19370 width=146) (actual time=6.042..6.043 rows=19370 loops=1)
         Buckets: 32768  Batches: 1  Memory Usage: 3633kB
         ->  Seq Scan on people p  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.006..1.170 rows=19370 loops=1)
 Planning Time: 2.583 ms
 Execution Time: 15.499 ms
(8 rows)

Given your findings from inspecting the query plan, answer the following question. Assign the variable `q3a` to a list of all the options which are true for the proposed statement.

1. Which join approach did the query optimizer choose?
    1. Nested Loop Join
    1. Merge Join
    1. Hash Join
    1. None of the Above

**Note:** Your answer should be formatted as follows: `q3a = ['A', 'B']`

<!--
BEGIN QUESTION
name: q3a
points: 1
-->

In [ ]:
q3a = ...

In [ ]:
grader.check("q3a")

### Question 3b

Similar to Question 3a, perform an inner join on the `people` and `collegeplaying` tables on the `playerid` column. Project all columns.

In addition, **sort your output by `playerid`.**

In [ ]:
%%sql q3b_join <<
...

Inspect the query plan for the query you wrote above.

In [105]:
q3b_query_str = flatten_query("""
    SELECT
        *
    FROM people p
    INNER JOIN collegeplaying c
    ON p.playerid = c.playerid
    ORDER BY p.playerid
""")
!psql -h localhost -d baseball -c "explain analyze $q3b_query_str"

                                                                         QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------------------------------------
 Merge Join  (cost=0.57..1910.20 rows=17350 width=167) (actual time=0.026..20.071 rows=17350 loops=1)
   Merge Cond: ((p.playerid)::text = (c.playerid)::text)
   ->  Index Scan using master_pkey on people p  (cost=0.29..1024.36 rows=19370 width=146) (actual time=0.006..4.707 rows=19368 loops=1)
   ->  Index Only Scan using collegeplaying_pkey on collegeplaying c  (cost=0.29..620.54 rows=17350 width=21) (actual time=0.015..2.085 rows=17350 loops=1)
         Heap Fetches: 0
 Planning Time: 2.931 ms
 Execution Time: 20.544 ms
(7 rows)

Given your findings from inspecting the query plan, answer the following question. Assign the variable `q3b` to a list of all the options which are true for the proposed statement.

1. Which join approach did the query optimizer choose?
    1. Nested Loop Join
    1. Merge Join
    1. Hash Join
    1. None of the Above

**Note:** Your answer should be formatted as follows: `q3b = ['A', 'B']`

<!--
BEGIN QUESTION
name: q3b
points: 1
-->

In [ ]:
q3b = ...

In [ ]:
grader.check("q3b")

### Question 3c
Write a query to retrieve all possible player pair combinations. Project all columns, but **limit to 1000 rows** to ensure your query doesn't take an exorbitant amount of time to run.

**Hint:** You can do this by performing an inner join of the `people` table on itself with an inequality condition.

In [ ]:
%%sql q3c_join <<
...

Inspect the query plan for the query you wrote above.

In [99]:
q3c_query_str = flatten_query("""
    SELECT 
        *
    FROM people, collegeplaying
    LIMIT 1000
""")
!psql -h localhost -d baseball -c "explain analyze $q3c_query_str"

                                                             QUERY PLAN
------------------------------------------------------------------------------------------------------------------------------------
 Limit  (cost=0.00..12.50 rows=1000 width=167) (actual time=0.032..0.387 rows=1000 loops=1)
   ->  Nested Loop  (cost=0.00..4201818.33 rows=336069500 width=167) (actual time=0.032..0.350 rows=1000 loops=1)
         ->  Seq Scan on people  (cost=0.00..619.70 rows=19370 width=146) (actual time=0.011..0.011 rows=1 loops=1)
         ->  Materialize  (cost=0.00..373.25 rows=17350 width=21) (actual time=0.015..0.196 rows=1000 loops=1)
               ->  Seq Scan on collegeplaying  (cost=0.00..286.50 rows=17350 width=21) (actual time=0.009..0.066 rows=1000 loops=1)
 Planning Time: 1.737 ms
 Execution Time: 0.532 ms
(7 rows)

Given your findings from inspecting the query plan, answer the following question. Assign the variable `q3c` to a list of all the options which are true for the proposed statement.

1. Which join approach did the query optimizer choose?
    1. Nested Loop Join
    1. Merge Join
    1. Hash Join
    1. None of the Above

**Note:** Your answer should be formatted as follows: `q3c = ['A', 'B']`

<!--
BEGIN QUESTION
name: q3c
points: 1
-->

In [ ]:
q3c = ...

In [ ]:
grader.check("q3c")

<!-- BEGIN QUESTION -->

### Question 3d
Please discuss your findings in the previous parts. In particular, we are interested in hearing why you think the query optimizer chooses the ultimate join approach in each of the above three scenarios. Feel free to discuss the pros and cons of each join approach as well.

If you feel stuck, here are some things to consider: Does a non-equijoin constrain us to certain join approaches? What's an added benefit in regards to the output of merge join?

<!--
BEGIN QUESTION
name: q3d
manual: true
points: 3
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 4: Indexes

### Question 4a:
Write a query that outputs the `playerid` and average `salary` for each player that only batted in 10 games (the number of games in which a player batted can be found in the `g_batting` column of the `appearances` table). Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [117]:
%%sql result_4a <<

SELECT
    playerid,
    AVG(salary) salary
FROM salaries s
NATURAL JOIN appearances a
WHERE g_batting = 10
GROUP BY s.playerid

 * postgresql://postgres:***@127.0.0.1:5432/baseball
134 rows affected.
Returning data to local variable result_4a

In [118]:
# Do not delete/edit this cell
result_4a.DataFrame().sort_values('playerid').to_csv('results/result_4a.csv', index=False)

In [119]:
grader.check("q4ai")

q4ai results: All test cases passed!

Inspect the query plan and record the execution time and cost.

In [120]:
result_4a_query_str = flatten_query("""
    SELECT
        playerid,
        AVG(salary) salary
    FROM salaries s
    NATURAL JOIN appearances a
    WHERE g_batting = 10
    GROUP BY s.playerid
""")
!psql -h localhost -d baseball -c "explain analyze $result_4a_query_str"

                                                                                   QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=3637.16..3637.19 rows=1 width=17) (actual time=19.954..19.999 rows=134 loops=1)
   Group Key: s.playerid
   ->  Sort  (cost=3637.16..3637.17 rows=1 width=17) (actual time=19.946..19.951 rows=138 loops=1)
         Sort Key: s.playerid
         Sort Method: quicksort  Memory: 33kB
         ->  Hash Join  (cost=2900.38..3637.15 rows=1 width=17) (actual time=13.852..19.700 rows=138 loops=1)
               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.011..1.287 rows=26428 loops=1)
               ->  Hash  (cost=2873.20..2873.20 rows=1359 width=20) (actual time=13.723..13.723 rows=1347 loops=1)
                     Buckets: 2048  Batches: 1  Memory Usage: 86kB
                     ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1359 width=20) (actual time=0.011..13.297 rows=1347 loops=1)
                           Filter: (g_batting = 10)
                           Rows Removed by Filter: 102909
 Planning Time: 4.220 ms
 Execution Time: 20.096 ms
(15 rows)

In [ ]:
result_4a_cost = ...
result_4a_timing = ...

In [ ]:
grader.check("q4aii")

### Question 4b:
Add an index with name `g_batting_idx` on the `g_batting` column of the `appearances` table.

In [121]:
%%sql result_4b <<

CREATE INDEX g_batting_idx ON appearances (g_batting)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Returning data to local variable result_4b

Now, re-inspect the query plan of the query from `Question 4a` and record its execution time and cost.

In [124]:
!psql -h localhost -d baseball -c "explain analyze $result_4a_query_str"

                                                                                   QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=2382.32..2382.34 rows=1 width=17) (actual time=9.616..9.671 rows=134 loops=1)
   Group Key: s.playerid
   ->  Sort  (cost=2382.32..2382.33 rows=1 width=17) (actual time=9.607..9.615 rows=138 loops=1)
         Sort Key: s.playerid
         Sort Method: quicksort  Memory: 33kB
         ->  Hash Join  (cost=1645.54..2382.31 rows=1 width=17) (actual time=2.965..9.296 rows=138 loops=1)
               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.009..1.341 rows=26428 loops=1)
               ->  Hash  (cost=1618.36..1618.36 rows=1359 width=20) (actual time=2.837..2.838 rows=1347 loops=1)
                     Buckets: 2048  Batches: 1  Memory Usage: 86kB
                     ->  Bitmap Heap Scan on appearances a  (cost=18.82..1618.36 rows=1359 width=20) (actual time=0.197..2.551 rows=1347 loops=1)
                           Recheck Cond: (g_batting = 10)
                           Heap Blocks: exact=899
                           ->  Bitmap Index Scan on g_batting_idx  (cost=0.00..18.48 rows=1359 width=0) (actual time=0.113..0.113 rows=1347 loops=1)
                                 Index Cond: (g_batting = 10)
 Planning Time: 4.271 ms
 Execution Time: 9.783 ms
(17 rows)

In [ ]:
result_4b_cost = ...
result_4b_timing = ...

In [ ]:
grader.check("q4b")

In the following question, we will explore adding a different index and evaluating the query from `Question 4a`. To avoid any interference by the `g_batting_idx` index, **drop the index before moving onto the next question.**

In [126]:
%%sql 

DROP INDEX g_batting_idx

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

### Question 4c:
Write a query to add an index with name `salary_idx` on the `salary` column of the `salaries` table.

In [127]:
%%sql result_4c <<

CREATE INDEX salary_idx ON salaries (salary)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Returning data to local variable result_4c

Re-inspect the query plan of the query from the `Question 4a` and record its execution time and cost.

In [131]:
!psql -h localhost -d baseball -c "explain analyze $result_4a_query_str"

                                                                                   QUERY PLAN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 GroupAggregate  (cost=3637.16..3637.19 rows=1 width=17) (actual time=22.388..22.447 rows=134 loops=1)
   Group Key: s.playerid
   ->  Sort  (cost=3637.16..3637.17 rows=1 width=17) (actual time=22.380..22.386 rows=138 loops=1)
         Sort Key: s.playerid
         Sort Method: quicksort  Memory: 33kB
         ->  Hash Join  (cost=2900.38..3637.15 rows=1 width=17) (actual time=15.128..22.081 rows=138 loops=1)
               Hash Cond: ((s.yearid = a.yearid) AND ((s.teamid)::text = (a.teamid)::text) AND ((s.lgid)::text = (a.lgid)::text) AND ((s.playerid)::text = (a.playerid)::text))
               ->  Seq Scan on salaries s  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.009..1.560 rows=26428 loops=1)
               ->  Hash  (cost=2873.20..2873.20 rows=1359 width=20) (actual time=14.971..14.972 rows=1347 loops=1)
                     Buckets: 2048  Batches: 1  Memory Usage: 86kB
                     ->  Seq Scan on appearances a  (cost=0.00..2873.20 rows=1359 width=20) (actual time=0.010..14.471 rows=1347 loops=1)
                           Filter: (g_batting = 10)
                           Rows Removed by Filter: 102909
 Planning Time: 3.838 ms
 Execution Time: 22.528 ms
(15 rows)

In [ ]:
result_4c_cost = ...
result_4c_timing = ...

In [ ]:
grader.check("q4c")

### Question 4d:
#### Question 4di:
Given your findings from inspecting the query plans with no indexes, an index on `g_batting`, and an index on `salary`, answer the following question. Assign the variable `q4d_part1` to a list of all options which are true for the proposed statement.

1. Consider the following statements:
    1. Adding the `g_batting` index did not have a significant impact on the query execution time and cost.
    1. Adding the `g_batting` index did have a significant impact on the query execution time, but not the cost.
    1. Adding the `g_batting` index did have a significant impact on the query cost, but not the execution time.
    1. Adding the `g_batting` index did have a significant impact on the query cost and execution time.
    1. Adding the `salary` index did not have a significant impact on the query execution time and cost.
    1. Adding the `salary` index did have a significant impact on the query execution time, but not the cost.
    1. Adding the `salary` index did have a significant impact on the query cost, but not the execution time.
    1. Adding the `salary` index did have a significant impact on the query cost and execution time.

**Note:** Your answer should be formatted as follows: `q4d_part1 = ['A', 'B']`

<!--
BEGIN QUESTION
name: q4di
points: 2
-->

In [ ]:
q4d_part1 = ...

In [ ]:
grader.check("q4di")

<!-- BEGIN QUESTION -->

#### Question 4dii:

Explain your answer based on your knowledge from lectures, and details from inspecting the query plans (your explanation should include why you didn't choose certain options).

<!--
BEGIN QUESTION
name: q4dii
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



In the following question, we will further explore the impact of indexes on query performance. To avoid any interference by the `salary_idx` index, please drop the index before moving onto the next question.

In [132]:
%%sql 

DROP INDEX salary_idx;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

### Question 4e:
#### Question 4ei:
Write a query that finds the `playerid`, `yearid`, and `salary` for each player that had played 10 games and batted in 10 games (the number of games in which a player played can be found in the `g_all` column of the `appearances` table). Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [135]:
%%sql result_4ei <<
SELECT
    playerid,
    yearid,
    salary
FROM salaries s
NATURAL JOIN appearances a
WHERE g_all = 10 and g_batting = 10

 * postgresql://postgres:***@127.0.0.1:5432/baseball
120 rows affected.
Returning data to local variable result_4ei

In [136]:
# Do not delete/edit this cell
result_4ei.DataFrame().sort_values(['playerid', 'yearid']).to_csv('results/result_4ei.csv', index=False)

In [137]:
grader.check("q4ei_part1")

q4ei_part1 results: All test cases passed!

Inspect the query plan and record the execution time and cost.

In [138]:
result_4ei_query_str = flatten_query("""
    SELECT
        playerid,
        yearid,
        salary
    FROM salaries s
    NATURAL JOIN appearances a
    WHERE g_all = 10 and g_batting = 10
""")
!psql -h localhost -d baseball -c "explain analyze $result_4ei_query_str"

                                                                            QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..3300.40 rows=1 width=21) (actual time=9.038..18.198 rows=120 loops=1)
   ->  Seq Scan on appearances a  (cost=0.00..3133.84 rows=21 width=20) (actual time=0.013..14.001 rows=1289 loops=1)
         Filter: ((g_all = 10) AND (g_batting = 10))
         Rows Removed by Filter: 102967
   ->  Index Scan using salaries_pkey on salaries s  (cost=0.29..7.93 rows=1 width=28) (actual time=0.003..0.003 rows=0 loops=1289)
         Index Cond: ((yearid = a.yearid) AND ((teamid)::text = (a.teamid)::text) AND ((lgid)::text = (a.lgid)::text) AND ((playerid)::text = (a.playerid)::text))
 Planning Time: 2.869 ms
 Execution Time: 18.256 ms
(8 rows)

In [ ]:
result_4ei_cost = ...
result_4ei_timing = ...

In [ ]:
grader.check("q4ei_part2")

#### Question 4eii:
Now, let's see the impact of adding an index on the `g_batting` column. Create an index on the `g_batting` column. Re-inspect the query from `Question 4ei` and record the execution time and cost.

In [139]:
%%sql result_4eii << 

CREATE INDEX g_batting_idx ON appearances(g_batting)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Returning data to local variable result_4eii

In [140]:
!psql -h localhost -d baseball -c "explain analyze $result_4ei_query_str"

                                                                            QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=18.78..1787.98 rows=1 width=21) (actual time=2.857..6.453 rows=120 loops=1)
   ->  Bitmap Heap Scan on appearances a  (cost=18.49..1621.42 rows=21 width=20) (actual time=0.253..2.911 rows=1289 loops=1)
         Recheck Cond: (g_batting = 10)
         Filter: (g_all = 10)
         Rows Removed by Filter: 58
         Heap Blocks: exact=899
         ->  Bitmap Index Scan on g_batting_idx  (cost=0.00..18.48 rows=1359 width=0) (actual time=0.164..0.164 rows=1347 loops=1)
               Index Cond: (g_batting = 10)
   ->  Index Scan using salaries_pkey on salaries s  (cost=0.29..7.93 rows=1 width=28) (actual time=0.002..0.002 rows=0 loops=1289)
         Index Cond: ((yearid = a.yearid) AND ((teamid)::text = (a.teamid)::text) AND ((lgid)::text = (a.lgid)::text) AND ((playerid)::text = (a.playerid)::text))
 Planning Time: 5.164 ms
 Execution Time: 6.496 ms
(12 rows)

In [ ]:
result_4eii_with_index_cost = ...
result_4eii_with_index_timing = ...

In [ ]:
grader.check("q4eii")

In the following question, we will further explore the impact of indexes on query performance. To avoid any interference from the index on the `g_batting` column, drop the index before moving onto the next question.

In [142]:
%%sql 

DROP INDEX g_batting_idx

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

#### Question 4eiii:
Write a query that finds the `playerid`, `yearid`, and `salary` for each player that had played 10 games __or__ batted in 10 games. Your query should join the `salaries` and `appearances` table on all the common columns `yearid`, `teamid`, and `playerid`, so feel free to use a natural join.

In [143]:
%%sql result_4eiii <<

SELECT playerid, yearid, salary
FROM salaries
NATURAL JOIN appearances
WHERE g_all = 10 OR g_batting = 10

 * postgresql://postgres:***@127.0.0.1:5432/baseball
216 rows affected.
Returning data to local variable result_4eiii

In [144]:
# Do not delete/edit this cell
result_4eiii.DataFrame().sort_values(['playerid', 'yearid']).to_csv('results/result_4eiii.csv', index=False)

In [145]:
grader.check("q4eiii_part1")

q4eiii_part1 results: All test cases passed!

In [149]:
result_4eiii_query_str = flatten_query("""
    SELECT playerid, yearid, salary
    FROM salaries
    NATURAL JOIN appearances
    WHERE g_batting = 10 or g_all = 10
""")
!psql -h localhost -d baseball -c "explain analyze $result_4eiii_query_str"

                                                                                                               QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=3192.30..3929.07 rows=1 width=21) (actual time=17.955..25.481 rows=216 loops=1)
   Hash Cond: ((salaries.yearid = appearances.yearid) AND ((salaries.teamid)::text = (appearances.teamid)::text) AND ((salaries.lgid)::text = (appearances.lgid)::text) AND ((salaries.playerid)::text = (appearances.playerid)::text))
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.017..1.503 rows=26428 loops=1)
   ->  Hash  (cost=3133.84..3133.84 rows=2923 width=20) (actual time=17.778..17.780 rows=1655 loops=1)
         Buckets: 4096  Batches: 1  Memory Usage: 118kB
         ->  Seq Scan on appearances  (cost=0.00..3133.84 rows=2923 width=20) (actual time=0.015..17.226 rows=1655 loops=1)
               Filter: ((g_batting = 10) OR (g_all = 10))
               Rows Removed by Filter: 102601
 Planning Time: 5.200 ms
 Execution Time: 25.524 ms
(10 rows)

In [ ]:
result_4eiii_cost = ...
result_4eiii_timing = ...

In [ ]:
grader.check("q4eiii_part2")

#### Question 4eiv
Now, let's see the impact of adding an index on `g_batting` column will have on the query. Re-create the index and re-inspect the query from `Question 4eiii` and record the execution time and cost.

In [147]:
%%sql result_4eiv << 

CREATE INDEX g_batting_idx ON appearances(g_batting)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Returning data to local variable result_4eiv

In [150]:
!psql -h localhost -d baseball -c "explain analyze $result_4eiii_query_str"

                                                                                                               QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=3192.30..3929.07 rows=1 width=21) (actual time=16.007..23.044 rows=216 loops=1)
   Hash Cond: ((salaries.yearid = appearances.yearid) AND ((salaries.teamid)::text = (appearances.teamid)::text) AND ((salaries.lgid)::text = (appearances.lgid)::text) AND ((salaries.playerid)::text = (appearances.playerid)::text))
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.012..1.441 rows=26428 loops=1)
   ->  Hash  (cost=3133.84..3133.84 rows=2923 width=20) (actual time=15.850..15.851 rows=1655 loops=1)
         Buckets: 4096  Batches: 1  Memory Usage: 118kB
         ->  Seq Scan on appearances  (cost=0.00..3133.84 rows=2923 width=20) (actual time=0.011..15.315 rows=1655 loops=1)
               Filter: ((g_batting = 10) OR (g_all = 10))
               Rows Removed by Filter: 102601
 Planning Time: 3.936 ms
 Execution Time: 23.088 ms
(10 rows)

In [ ]:
result_4eiv_with_index_cost = ...
result_4eiv_with_index_timing = ...

In [ ]:
grader.check("q4eiv")

In the following question, we will further explore the impact of indexes on query performance. To avoid any interference from the index on the `g_batting` column, drop the index before moving onto the next question.

In [151]:
%%sql 

DROP INDEX g_batting_idx

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

#### Question 4ev:
Now, create a multiple column index on `g_batting` and `g_all` called `g_batting_g_all_idx` and record the query execution time and cost.

In [152]:
%%sql result_4v <<
CREATE INDEX g_idx ON appearances(g_batting, g_all)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
Returning data to local variable result_4v

In [153]:
!psql -h localhost -d baseball -c "explain analyze $result_4eiii_query_str"

                                                                                                               QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 Hash Join  (cost=2877.96..3614.74 rows=1 width=21) (actual time=6.605..12.617 rows=216 loops=1)
   Hash Cond: ((salaries.yearid = appearances.yearid) AND ((salaries.teamid)::text = (appearances.teamid)::text) AND ((salaries.lgid)::text = (appearances.lgid)::text) AND ((salaries.playerid)::text = (appearances.playerid)::text))
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=28) (actual time=0.017..1.256 rows=26428 loops=1)
   ->  Hash  (cost=2819.50..2819.50 rows=2923 width=20) (actual time=6.450..6.451 rows=1655 loops=1)
         Buckets: 4096  Batches: 1  Memory Usage: 118kB
         ->  Bitmap Heap Scan on appearances  (cost=1182.16..2819.50 rows=2923 width=20) (actual time=2.744..5.993 rows=1655 loops=1)
               Recheck Cond: ((g_batting = 10) OR (g_all = 10))
               Heap Blocks: exact=1027
               ->  BitmapOr  (cost=1182.16..1182.16 rows=2943 width=0) (actual time=2.577..2.577 rows=0 loops=1)
                     ->  Bitmap Index Scan on g_idx  (cost=0.00..18.48 rows=1359 width=0) (actual time=0.156..0.156 rows=1347 loops=1)
                           Index Cond: (g_batting = 10)
                     ->  Bitmap Index Scan on g_idx  (cost=0.00..1162.21 rows=1585 width=0) (actual time=2.419..2.419 rows=1597 loops=1)
                           Index Cond: (g_all = 10)
 Planning Time: 4.362 ms
 Execution Time: 12.715 ms
(15 rows)

In [ ]:
result_4ev_multiple_col_index_cost = ...
result_4ev_multiple_col_index_timing = ...

In [ ]:
grader.check("q4ev")

#### Question 4evi:
Given your findings from inspecting the query plans from `Question 4e`, answer the following question. Assign the variable `q4e_part6` to a list of all statements that are true.

1. Consider the following statements:
    1. Adding an index on a column used in an AND predicate will reduce the query time, but not the execution cost.
    1. Adding an index on a column used in an AND predicate will reduce the query cost, but not the execution time.
    1. Adding an index on a column used in an AND predicate will reduce the query cost and the execution time.
    1. Adding an index on a column used in an OR predicate will reduce the query time, but not the execution cost.
    1. Adding an index on a column used in an OR predicate will reduce the query cost, but not the execution time.
    1. Adding an index on a column used in an OR predicate will reduce the query cost and the execution time.
    1. Adding a mutlicolumn index on columns in an OR predicate will reduce the query time, but not the execution cost.
    1. Adding a mutlicolumn index on columns in an OR predicate will reduce the query cost, but not the execution time.
    1. Adding a mutlicolumn index on columns in an OR predicate will reduce the query cost and the execution time.

**Note:** Your answer should be formatted as follows: `q4e_part6 = ['A', 'B']`

<!--
BEGIN QUESTION
name: q4evi
points: 2
-->

In [ ]:
q4e_part6 = ...

In [ ]:
grader.check("q4evi")

<!-- BEGIN QUESTION -->

#### Question 4evii

Explain your answer to the previous part based on your knowledge from lectures, and details of the query plans (your explanation should include why you didn't choose certain options).

<!--
BEGIN QUESTION
name: q4evii
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 5: More Indexes
### Question 5a:
Write 2 queries: one that finds the minimum salary from the salary table and one that finds the average. Inspect the queries' query plans and record their execution times and costs.

In [ ]:
%%sql result_5a_min <<

In [154]:
result_5a_min_query_str = flatten_query("SELECT MIN(salary) FROM salaries")
!psql -h localhost -d baseball -c "explain analyze $result_5a_min_query_str"

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=4.409..4.411 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.010..1.639 rows=26428 loops=1)
 Planning Time: 2.062 ms
 Execution Time: 4.526 ms
(4 rows)

In [ ]:
result_5a_min_query_cost = ...
result_5a_min_query_timing = ...

In [ ]:
grader.check("q5ai")

In [ ]:
%%sql result_5a_avg <<
...

In [155]:
result_5a_avg_query_str = flatten_query("SELECT AVG(salary) FROM salaries")
!psql -h localhost -d baseball -c "explain analyze $result_5a_avg_query_str"

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=5.042..5.043 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.034..1.695 rows=26428 loops=1)
 Planning Time: 1.108 ms
 Execution Time: 5.090 ms
(4 rows)

In [ ]:
result_5a_avg_query_cost = ...
result_5a_avg_query_timing = ...

In [ ]:
grader.check("q5aii")

### Question 5b:
Create an index on the `salary` column in the `salaries` table and re-inspect the query plans from the previous part and record the respective execution time and cost.

In [156]:
%%sql 

CREATE INDEX salary_idx ON salaries(salary)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

In [157]:
!psql -h localhost -d baseball -c "explain analyze $result_5a_min_query_str"

                                                                  QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------------
 Result  (cost=0.32..0.33 rows=1 width=8) (actual time=0.352..0.354 rows=1 loops=1)
   InitPlan 1 (returns $0)
     ->  Limit  (cost=0.29..0.32 rows=1 width=8) (actual time=0.349..0.349 rows=1 loops=1)
           ->  Index Only Scan using salary_idx on salaries  (cost=0.29..762.78 rows=26428 width=8) (actual time=0.347..0.348 rows=1 loops=1)
                 Index Cond: (salary IS NOT NULL)
                 Heap Fetches: 0
 Planning Time: 1.385 ms
 Execution Time: 0.373 ms
(8 rows)

In [158]:
result_5b_min_query_cost = ...
result_5b_min_query_timing = ...

In [ ]:
grader.check("q5bi")

In [160]:
!psql -h localhost -d baseball -c "explain analyze $result_5a_avg_query_str"

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=4.913..4.914 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=8) (actual time=0.011..1.661 rows=26428 loops=1)
 Planning Time: 2.094 ms
 Execution Time: 4.974 ms
(4 rows)

In [161]:
result_5a_count_query_str = flatten_query("SELECT COUNT(*) FROM salaries")

!psql -h localhost -d baseball -c "explain analyze $result_5a_count_query_str"

                                                    QUERY PLAN
------------------------------------------------------------------------------------------------------------------
 Aggregate  (cost=525.35..525.36 rows=1 width=8) (actual time=2.486..2.486 rows=1 loops=1)
   ->  Seq Scan on salaries  (cost=0.00..459.28 rows=26428 width=0) (actual time=0.010..1.578 rows=26428 loops=1)
 Planning Time: 1.559 ms
 Execution Time: 2.526 ms
(4 rows)

In [ ]:
result_5b_avg_query_cost = ...
result_5b_avg_query_timing = ...

In [ ]:
grader.check("q5bii")

In the following questions, we will further explore the impact of indexes on query performance. To avoid any interference from the index on the `salary` column, drop the index before moving onto the next question.

In [162]:
%%sql 

DROP INDEX salary_idx

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

### Question 5c:
Given your findings from `Question 5a-b`, answer the following question. Assign the variable `q5c` to the correct answer choice.

1. Which of the following statements is true?
    1. An index on the column being aggregated in a query will always provide a performance enhancement.
    1. A query finding the MIN(salary) will always benefit from an index on salary, but a query finding MAX(salary) will not.
    1. A query finding the COUNT(salary) will always benefit from an index on salary, but a query finding AVG(salary) will not.
    1. Queries finding the MIN(salary) or MAX(salary) will always benefit from an index on salary, but queries finding AVG(salary) or COUNT(salary) will not.

*Note:* Your answer should be formatted as follows: `q5c = ['A', 'B']`

<!--
BEGIN QUESTION
name: q5c
points: 1
-->

In [ ]:
q5c = ...

In [ ]:
grader.check("q5c")

<!-- BEGIN QUESTION -->

### Question 5d:

Explain your answer to the previous part based on your knowledge from lectures, and your inspection of the query plans.

<!--
BEGIN QUESTION
name: q5d
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 6: Clustered Indexes
In this question, we will inspect the impact that clustering our data on an index can have on a query's performance.

### Question 6a
Write a query that finds the `playerid`, `yearid`, `teamid`, and `ab` for all players whose `ab` was above 500. Inspect the query plan and record the execution time and cost.

In [164]:
%%sql result_6a <<

SELECT playerid, a.yearid, a.teamid, ab
FROM appearances a
JOIN teams t
ON a.teamid = t.teamid
WHERE ab > 500

 * postgresql://postgres:***@127.0.0.1:5432/baseball
8319196 rows affected.
Returning data to local variable result_6a

In [165]:
# Do not delete/edit this cell
result_6a.DataFrame().sort_values(['playerid', 'yearid', 'teamid']).iloc[:1000].to_csv('results/result_6a.csv', index=False)

In [166]:
grader.check("q6ai")

q6ai results: All test cases passed!

In [49]:
result_6a_query_str = flatten_query("""
    SELECT playerid, a.yearid, a.teamid, ab
    FROM appearances a
    JOIN teams t
    ON a.teamid = t.teamid
    WHERE ab > 500
""")
!psql -h localhost -d baseball -c "explain analyze $result_6a_query_str"

                                                             QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..31977.81 rows=8289034 width=21) (actual time=0.089..763.955 rows=8319196 loops=1)
   ->  Seq Scan on appearances a  (cost=0.00..2612.56 rows=104256 width=17) (actual time=0.012..6.283 rows=104256 loops=1)
   ->  Memoize  (cost=0.29..22.02 rows=19 width=8) (actual time=0.000..0.002 rows=80 loops=104256)
         Cache Key: a.teamid
         Cache Mode: logical
         Hits: 104107  Misses: 149  Evictions: 0  Overflows: 0  Memory Usage: 122kB
         ->  Index Scan using teams_pkey on teams t  (cost=0.28..22.01 rows=19 width=8) (actual time=0.030..0.133 rows=19 loops=149)
               Index Cond: ((teamid)::text = (a.teamid)::text)
               Filter: (ab > 500)
               Rows Removed by Filter: 0
 Planning Time: 2.807 ms
 Execution Time: 911.245 ms
(12 rows)

In [ ]:
result_6a_cost = ...
result_6a_timing = ...

In [ ]:
grader.check("q6aii")

### Question 6b:
Cluster the `batting` table on its primary key (hint: use `\di` to find out what name of the primary key is). We are able to directly cluster on the primary key (without first creating a separate index) because Postgres automatically creates an index for it. Re-inspect the query plan for the query from `Question 6a` and record the execution time and cost.

In [45]:
%%sql 
CLUSTER batting USING batting_pkey

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

In [27]:
!psql -h localhost -d baseball -c "\di"

                             List of relations
 Schema |           Name           | Type  |  Owner   |        Table
--------+--------------------------+-------+----------+---------------------
 public | allstarfull_pkey         | index | postgres | allstarfull
 public | appearances_pkey         | index | postgres | appearances
 public | awardsmanagers_pkey      | index | postgres | awardsmanagers
 public | awardsplayers_pkey       | index | postgres | awardsplayers
 public | awardssharemanagers_pkey | index | postgres | awardssharemanagers
 public | awardsshareplayers_pkey  | index | postgres | awardsshareplayers
 public | batting_pkey             | index | postgres | batting
 public | battingpost_pkey         | index | postgres | battingpost
 public | collegeplaying_pkey      | index | postgres | collegeplaying
 public | fielding_pkey            | index | postgres | fielding
 public | fieldingof_pkey          | index | postgres | fieldingof
 public | fieldingpost_pkey        | index | postgres | fieldingpost
 public | g_idx                    | index | postgres | appearances
 public | halloffame_pkey          | index | postgres | halloffame
 public | homegames_pkey           | index | postgres | homegames
 public | managers_pkey            | index | postgres | managers
 public | managershalf_pkey        | index | postgres | managershalf
 public | master_pkey              | index | postgres | people
 public | parks_pkey               | index | postgres | parks
 public | pitching_pkey            | index | postgres | pitching
 public | pitchingpost_pkey        | index | postgres | pitchingpost
 public | salaries_pkey            | index | postgres | salaries
 public | schools_pkey             | index | postgres | schools
 public | seriespost_pkey          | index | postgres | seriespost
 public | teams_pkey               | index | postgres | teams
 public | teamsfranchises_pkey     | index | postgres | teamsfranchises
 public | teamshalf_pkey           | index | postgres | teamshalf
(27 rows)

In [32]:
!psql -h localhost -d baseball -c "explain analyze $result_6a_query_str"

                                                             QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..31977.81 rows=8289034 width=21) (actual time=0.047..794.843 rows=8319196 loops=1)
   ->  Seq Scan on appearances a  (cost=0.00..2612.56 rows=104256 width=17) (actual time=0.012..6.697 rows=104256 loops=1)
   ->  Memoize  (cost=0.29..22.02 rows=19 width=8) (actual time=0.000..0.002 rows=80 loops=104256)
         Cache Key: a.teamid
         Cache Mode: logical
         Hits: 104107  Misses: 149  Evictions: 0  Overflows: 0  Memory Usage: 122kB
         ->  Index Scan using teams_pkey on teams t  (cost=0.28..22.01 rows=19 width=8) (actual time=0.034..0.157 rows=19 loops=149)
               Index Cond: ((teamid)::text = (a.teamid)::text)
               Filter: (ab > 500)
               Rows Removed by Filter: 0
 Planning Time: 2.424 ms
 Execution Time: 945.080 ms
(12 rows)

In [ ]:
result_6b_cost = ...
result_6b_timing = ...

In [ ]:
grader.check("q6b")

In [48]:
%sql ALTER TABLE batting SET WITHOUT CLUSTER

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

### Question 6c
Now, let's try clustering the table based on another index. Create an index on `ab` column called `ab_idx` in the `batting` table AND cluster the `batting` table with this new index. Now, re-inspect the query plan and record the execution time and cost.

In [50]:
%sql CREATE INDEX ab_idx ON batting (ab)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
(psycopg2.errors.DuplicateTable) relation "ab_idx" already exists

[SQL: CREATE INDEX ab_idx ON batting (ab)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [51]:
%%sql 
CLUSTER batting USING ab_idx

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

In [52]:
!psql -h localhost -d baseball -c "explain analyze $result_6a_query_str"

                                                             QUERY PLAN
-------------------------------------------------------------------------------------------------------------------------------------
 Nested Loop  (cost=0.29..31977.81 rows=8289034 width=21) (actual time=0.045..774.327 rows=8319196 loops=1)
   ->  Seq Scan on appearances a  (cost=0.00..2612.56 rows=104256 width=17) (actual time=0.011..6.533 rows=104256 loops=1)
   ->  Memoize  (cost=0.29..22.02 rows=19 width=8) (actual time=0.000..0.002 rows=80 loops=104256)
         Cache Key: a.teamid
         Cache Mode: logical
         Hits: 104107  Misses: 149  Evictions: 0  Overflows: 0  Memory Usage: 122kB
         ->  Index Scan using teams_pkey on teams t  (cost=0.28..22.01 rows=19 width=8) (actual time=0.029..0.124 rows=19 loops=149)
               Index Cond: ((teamid)::text = (a.teamid)::text)
               Filter: (ab > 500)
               Rows Removed by Filter: 0
 Planning Time: 2.518 ms
 Execution Time: 924.180 ms
(12 rows)

In [ ]:
result_6c_cost = ...
result_6c_timing = ...

In [ ]:
grader.check("q6c")

### Question 6d
Given your findings from inspecting the query plans from `Question 6a-c`, answer the following question. Assign the variable `q6d` to a list of all statements that are true.

1. Consider the following statements:
    1. Clustering based on the `ab_idx` decreased the cost of the query.
    1. Clustering based on the `ab_idx` increased the cost of the query.
    1. Clustering based on the `ab_idx` increased the execution time of the query.
    1. Clustering based on the `ab_idx` decreased the execution time of the query.
    1. Clustering based on the `batting_pkey` decreased the cost of the query.
    1. Clustering based on the `batting_pkey` increased the cost of the query.
    1. Clustering based on the `batting_pkey` increased the execution time of the query.
    1. Clustering based on the `batting_pkey` decreased the execution time of the query.
    1. None of the above
    
**Note:** Your answer should be formatted as follows: `q6d = ['A', 'B']`

<!--
BEGIN QUESTION
name: q6d
points: 2
-->

In [ ]:
q6d = ...

In [ ]:
grader.check("q6d")

<!-- BEGIN QUESTION -->

### Question 6e:

Explain your answer to the previous part based on your knowledge from lectures, and your inspection of the query plans (your explanation should include why you didn't choose certain options).

<!--
BEGIN QUESTION
name: q6e
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 7: Cost of Index Management
Until now, we have seen the positive potential impact that indexes can have on query performance, but remember in real world technologies/applications, we will be routinely receiving new data (and in large quantities) which would trigger regular updates to our tables. In this section, we will dive into the cost of managing the indexes that we create.

### Question 7a:
Record the time it takes to insert 300,000 rows into the `salaries` table when no additional index is configured.

Run the following cell to setup a column to track which rows we added as part of these inserts.

In [53]:
%sql ALTER TABLE salaries ADD added boolean DEFAULT False;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

Next, run the provided update script and record the **wall time**.

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of this subpart.

In [54]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (yearid, teamid, lgid, playerid, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
CPU times: total: 0 ns
Wall time: 3.32 s

In [ ]:
result_7a_timing = ...

In [ ]:
grader.check("q7a")

Before adding an index to the salaries table and re-timing the updates, delete all the rows that were added to the table from the update script.

In [56]:
%%sql
DELETE FROM salaries
WHERE added = 'true';

 * postgresql://postgres:***@127.0.0.1:5432/baseball
300000 rows affected.

[]

### Question 7b:
Now, create an index on the `salary` column and record the **wall time** after executing the update script.

In [57]:
%%sql 
CREATE INDEX salary_idx ON salaries(salary)

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.

[]

**NOTE:** Running the below cell multiple times may result in an error, unless you first delete the rows with the cell given at the end of last subpart.

In [58]:
%%time
%%sql
DO $$
 DECLARE counter INTEGER := 1;
 BEGIN
     FOR counter IN 100001..400000 LOOP
     INSERT INTO salaries (yearid, teamid, lgid, playerid, salary, added)
         VALUES (2021, 'ATL', 'NL', 'p' || counter, RANDOM() * 1000000, true);
     END LOOP;
END;
$$;

 * postgresql://postgres:***@127.0.0.1:5432/baseball
Done.
CPU times: total: 0 ns
Wall time: 4.73 s

In [ ]:
result_7b_timing = ...

In [ ]:
grader.check("q7b")

<!-- BEGIN QUESTION -->

### Question 7c:
What difference did you notice when you added an index into the salaries table and re-timed the update? Why do you think it happened?

<!--
BEGIN QUESTION
name: q7c
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Question 8: Takeaway

In this project, we explored how the database system optimizes query execution and how users can futher tune the performance of their queries.

Familiarizing yourself with these optimization and tuning methods will make you a better data engineer. In this question, we'll ask you to recall and summarize these concepts. Who knows? Maybe one day it will help you during an interview or on a project.

In the following answer cell,
1. Name 3 methods you learned in this project. The method can be either the optimization done by the database system, or the fine tuning done by the user.
2. For each method, summarize how and why it can optimize query performance. Feel free to discuss any drawbacks, if applicable.

<!--
BEGIN QUESTION
name: q8
manual: true
points: 6
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Congratulations! You have finished Project 2.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

**Please save your notebook before exporting (this is a good time to do it!)** Otherwise, we may not be able to register your written responses.

**For submission on Gradescope, you will need to submit BOTH the proj2.zip file genreated by the export cell and the results.zip file generated by the following cell.**

**Common submission issues:** You MUST submit the generated zip files (not folders) to the autograder. However, Safari is known to automatically unzip files upon downloading. You can fix this by going into Safari preferences, and deselect the box with the text "Open safe files after downloading" under the "General" tab. If you experience issues with downloading via clicking on the link, you can also navigate to the project 2 directory within JupyterHub (remove `proj2.ipynb` from the url), and manually download the generated zip files. Please post on Ed if you encounter any other submission issues.

In [ ]:
from IPython.display import display, FileLink

!zip -r results.zip results
results_file = FileLink('./results.zip', result_html_prefix="Click here to download: ")
display(results_file)

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()